---
title: Conference Venue and Hotel
layout: page
cover: "/static/westin.webp"
preload:
    - /static/westin.webp
draft: false
eleventyNavigation:
  key: Conference Venue and Hotel
  parent: Resources
---

<!-- TODO: refactor into optional inclusion -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% css %}
    #map { height: 400px; width: 100%; }
{% endcss %}

<!-- Reservations Section -->
<section class="max-w-6xl mx-auto px-4 pt-16 pb-8">
    <h2 class="text-2xl font-semibold mb-6">Reservations &amp; Rates</h2>

    <p class="mb-4">
        The <a class="text-blue-700 font-medium underline" target="_blank" href="https://www.marriott.com/en-us/hotels/denwi-the-westin-denver-downtown/overview/">Westin Denver Downtown</a> is centrally located on the 16th Street Mall and near many of Denver's popular attractions, including the Convention Center, Coors Field, Ball Arena, and the Denver Center for Performing Arts Complex. Newly renovated rooms, suites, and amenities in were added in 2023.
    </p>

    <p class="mb-4">
        Reserve your room at <strong>$249 per night</strong> (plus 15.75% tax). Rooms are first-come, first-served and may sell out before the <strong>Friday, October 24, 2025</strong> deadline. We recommend booking early.
    </p>

    <p class="mb-4">
        Call <a href="tel:3035729100" class="text-blue-700 font-medium underline">(303) 572-9100</a> or <a target="_blank" href="https://book.passkey.com/event/50987045/owner/3485/home" class="text-blue-700 font-medium underline">book online</a>.
    </p>
    <h3 class="text-xl pt-4 mb-4">Cancelation Policy</h3>
    <p class="mb-4">
        Cancel up to 72 hours prior to check-in with no penalty.
    </p>
    <p class="mb-4">
        Accessibility needs such as feather- or fragrance-free rooms should be communicated directly with the hotel during booking.
    </p>
</section>

<!-- Gallery -->
<section class="bg-white pt-16 pb-8 px-4">
    <div class="max-w-6xl mx-auto">
        <h2 class="text-2xl font-semibold mb-6">Hotel Photo Gallery</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <!-- 400x250 -->
            <img eleventy:widths="400" src="/static/westin/wi-denwi-denwi-dbl-queen-mtn-view-10070_Wide-Hor.jpeg" class="rounded-lg shadow-md" alt="Hotel Image 1"/>
            <img eleventy:widths="400" src="/static/westin/wi-denwi-denwi-mtn-view-89159_Wide-Hor.jpeg" class="rounded-lg shadow-md" alt="Hotel Image 2"/>
            <img eleventy:widths="400" src="/static/westin/denwi-fitness-studio-5560-hor-wide.avif" class="rounded-lg shadow-md" alt="Hotel Image 3"/>
        </div>
    </div>
</section>

<section class="max-w-6xl mx-auto px-4 py-16">
    <h2 class="text-2xl font-semibold mb-6">Why Book at the Conference Hotel?</h2>
    <p class="mb-4">Booking your room within the block at our conference hotel guarantees the lowest available room rates. It also enhances your networking opportunities by staying where fellow attendees are. Your booking helps CLIR/DLF meet our commitments and allocate more resources to the events.</p>
    <ul class="list-disc list-inside space-y-2 text-blue-gray-800">
        <li>Located on the 16th Street Mall</li>
        <li>Walking distance to Convention Center, Coors Field, Ball Arena</li>
        <li>Newly renovated rooms and amenities (2023)</li>
        <li>Continued networking and informal meetups with peers</li>
        <li>Supports CLIR/DLF's event resources</li>
    </ul>
</section>

<!-- Map Section -->
<section class="w-full px-0 pb-16">
    <div class="max-w-6xl mx-auto">
        <h2 class="text-2xl font-semibold mb-4">Hotel Location</h2>
        <div id="map" class="w-full h-[500px] rounded-lg shadow-md"></div>
    </div>
</section>

<!-- Accordion for Resources -->
<section class="w-full mx-auto px-4 pb-16">
    <h2 class="text-2xl font-semibold mb-6">Additional Information</h2>
    <div class="relative mb-3">
        <h3 class="mb-0">
            <button class="group flex w-full items-center justify-between border-b border-blue-gray-200 p-4 text-left font-semibold" data-collapse-target="collapse-1">
                View Floor Plans
                <i class="fa fa-chevron-down text-sm group-open:rotate-180 transition-transform"></i>
            </button>
        </h3>
        <div data-collapse="collapse-1" class="h-0 overflow-hidden transition-all duration-300">
            <div class="p-4 text-sm leading-normal text-blue-gray-600">The hotel's meeting space floor plans are available on the <a target="_blank" class="text-blue-700 font-medium underline" href="https://www.marriott.com/en-us/hotels/denwi-the-westin-denver-downtown/events/">hotel's events page</a>.</div>
        </div>
    </div>
    <div class="relative mb-3">
        <h3 class="mb-0">
            <button class="group flex w-full items-center justify-between border-b border-blue-gray-200 p-4 text-left font-semibold" data-collapse-target="collapse-2">
            Accessibility Info
            <i class="fa fa-chevron-down text-sm group-open:rotate-180 transition-transform"></i>
            </button>
        </h3>
        <div data-collapse="collapse-2" class="h-0 overflow-hidden transition-all duration-300">
            <div class="p-4 text-sm leading-normal text-blue-gray-600">
                Accessibility information is available on the <a target="_blank" class="text-blue-700 font-medium underline" href="https://critiqueaccess.com/westin-denver-downtown/" class="text-blue-700 underline">Critique Access</a> website.
            </div>
        </div>
    </div>
</section>

<script>
    const hotel = [39.749088, -104.99565]
    const map = L
        .map('map')
        .setView(hotel, 13);
    const marker = L
        .marker(hotel)
        .addTo(map);

    marker
        .bindPopup('<b>Westin Denver Downtown</b><br>1672 Lawrence Street')
        .openPopup();

    {# https://leaflet-extras.github.io/leaflet-providers/preview/ #}
    const tiles = L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_toner_background/{z}/{x}/{y}{r}.{ext}', {
        minZoom: 0,
        maxZoom: 20,
        attribution: '&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://www.stamen.com/" target="_blank">Stamen Design</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        ext: 'png'
    }).addTo(map);

    {# const tiles = L
        .tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
            subdomains: 'abcd',
            maxZoom: 20
        }) 
        .addTo(map);#}
</script>