---
title: First Time Attendees
cover: "/static/nico-smit-QnkzvFCxKrA-unsplash.webp"
draft: true
eleventyNavigation:
  key: First Time Attendees
  parent: Resources
---

<section class="py-12 px-8">
    <div class="mx-auto max-w-screen-md">
        {# <img src="https://www.material-tailwind.com/img/content3.jpg" alt="team work" class="mb-4 h-[28rem] w-full rounded-xl object-cover"/> 
        <p class="block font-sans text-sm font-normal leading-normal text-inherit !text-gray-600 antialiased">
            Photo by Jackson Sophat on
            <a href="#" target="_blank" rel="noreferrer" class="underline underline-offset-4 transition-colors hover:text-gray-900">Unsplash</a>
        </p>  #}
        <p class="my-12 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
            We hope our first-time attendees will feel empowered and comfortable when they attend our events. The DLF Community Committee typically plans social and newcomers' events &mdash; check the Wellness and Activities page for more information. 
        </p>

        <h3 class="mt-8 mb-6 block font-sans text-3xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            Code of Conduct
        </h3>
        <p class="my-10 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
            Please review our <a class="underline" target="_blank" href="https://www.diglib.org/about/code-of-conduct/">DLF Code of Conduct</a> prior to joining us at the Forum. On site, DLF staff will be identifiable by their name badges and white lanyards.
        </p>

        <h3 class="mt-8 mb-6 block font-sans text-3xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            Before the event:
        </h3>
        <p class="my-10 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
            When you register, consider signing up for the <a target="_blank" class="underline" href="https://www.diglib.org/groups/dlf-forum-mentors/">DLF mentorship program</a>. 
        </p>
        <p class="my-10 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
        We encourage you to select or enter your pronouns to appear on your conference badge when you register and create your user account on our conference management system. This is an entirely optional field, and we welcome everyone to make a selection.
        </p>
        <p class="my-10 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
            There's no strict dress code at the Forum, but attendees tend to gravitate towards business casual attire. See photos from <a class="underline" target="_blank" href="https://forum2023.diglib.org/about/photo-gallery/">previous forums</a> for a better idea. Additionally, meeting rooms can be chilly, so consider keeping a sweater or jacket on hand just in case.
        </p>

        <h3 class="mt-8 mb-6 block font-sans text-3xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            During the event:
        </h3>

        <p class="my-10 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
            All sessions at the Forum are open to anyone—Working Group meetings (aka DLF Working Sessions) included. Please feel free to join these whether you're interested in joining group activities or just learning more about them.
        </p>

        <p class="my-10 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
            We are completely aware of how hard conferencing can be, and want you to have a good experience. Know it's ok to leave a session if it's not what you were expecting, or to miss one entirely because you're otherwise occupied or just need a break. There will be a designated Quiet Room onsite for anyone who wants to recharge or get some work done. 
        </p>

        <p class="my-10 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
            Have a question for organizers during the event? Let us know by stopping by the registration desk, stopping anyone with a white lanyard (which indicates staff), or emailing us at <a class="underline" href="maito:forum@diglib.org?subject=Forum%20Question">forum@diglib.org</a>.
        </p>

        <p class="my-10 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
            When you register, consider signing up for the <a target="_blank" class="underline" href="https://www.diglib.org/groups/dlf-forum-mentors/">DLF mentorship program</a>. 
        </p>

        <div class="flex flex-wrap lg:justify-between md:justify-between justify-center gap-6 border-t border-blue-gray-50 py-4"></div>

        <h3 class="mt-8 mb-6 block font-sans text-3xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
            During Forum:
        </h3>

        <p class="my-10 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
            Have you ever witnessed bullying, harassment, or an uncomfortable encounter in a professional context and wished you knew how to intervene? It can be challenging to know what to say or do on the spot. The DLF Code of Conduct invites participants to be Active Bystanders, but what does that really mean?
        </p>

    <h3 class="mt-8 mb-6 block font-sans text-3xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
           Photography
        </h3>

                <p class="my-10 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
            <strong>Black lanyards</strong>: Photographs are okay<br>
            <strong>Yellow lanyards</strong>: Please don't take my photograph
        </p>

    </div>
</section>