---
title: Resources for Presenters
layout: about
image: "/static/CLIRM-158-scaled.webp"
draft: true
eleventyNavigation:
  key: Resources for Presenters
  parent: Resources
---

<section id="resources-for-presenters" class="p-8">
    <div class="mx-auto max-w-screen-md mb-20">
        <h2 class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-[1.3] text-blue-gray-900 my-4 font-black text-4xl !leading-snug">
            Resources for Presenters
        </h2>
        <p class="block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal !text-gray-700">
            For an engaging conference experience, we encourage sessions that embody participation, inclusivity, and action. Successful sessions captivate participants by encouraging active involvement, inspiring them to create and engage rather than passively observe. Inclusivity is key, welcoming participants from diverse backgrounds, experience levels, and disciplines. 
        </p>
        <p class="mt-4 block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal !text-gray-700">
            An effective conference session should be action-oriented, providing clear takeaways that participants can implement in their own institutions. Presenters are encouraged to articulate plans that align with these principles. We also welcome community-minded presentations from digital library practitioners in the commercial sector. However, please note that sponsor tables are available for promoting or selling products and services, so presentations should not be treated as an opportunity for a sales pitch.
        </p>
        <p class="mt-4 block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal !text-gray-700">
            To help you craft impactful presentations, we've compiled tips in a video. We invite all participants to watch the video and incorporate suggestions into their sessions. 
        </p>
    </div>

    <div class="relative w-full max-w-3xl mx-auto mb-20">
        <div class="aspect-video">
            <iframe class="w-full h-full" src="https://www.youtube.com/embed/xxrIQ273q30"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</section>

<section id="creating-accessible-presentations" class="p-8">
    <div class="mx-auto max-w-screen-md mb-20">
        <h2 class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-[1.3] text-blue-gray-900 my-4 font-black text-4xl !leading-snug">
            Creating Accessible Presentations
        </h2>
        <h3 class="mb-4" id="webinar">A Webinar to help you center accessibility in your presentation</h3>
        <p class="block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal !text-gray-700">
            At DLF, we take pride in fostering inclusivity within our membership and events, serving as hubs for diverse exchanges. Our members, representing various cultural and disciplinary communities, bring a wealth of professional and personal experiences along with unique learning styles to our gatherings. To assist presenters in effectively connecting with this vibrant and diverse community, we offer practical recommendations for crafting accessible presentations.
        </p>
        <p class="mt-4 block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal !text-gray-700">
            The genesis of our Creating Accessible Presentations guidelines can be traced back to a subgroup of the 2016 DLF Forum Inclusivity Committee. Over time, these guidelines evolved, expanding into a webinar for the 2017 DLF Forum. The commitment to accessibility persisted through 2020 and 2021 with the Creating Accessible Online Presentations webinars, led by members of DLF's Committee for Equity and Inclusion and Digital Accessibility Working Group.
        </p>
        <p class="mt-4 block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal !text-gray-700">
            In our latest update, the Creating Accessible Presentations Webinar in July 2022, led by Debbie Krahmer, further refined this important work for our 2022 events. To stay informed, watch the latest webinar below and join us in ensuring our presentations are accessible to all.
        </p>
    </div>

    <div class="relative w-full max-w-3xl mx-auto mb-20">
        <div class="aspect-video">
            <iframe class="w-full h-full" src="https://www.youtube.com/embed/c7UeR-NV6lg"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</section>

<section id="browse-past-presentations" class="py-28 px-4">
    <div class="container mx-auto mb-20 text-center">
        <h2 class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-[1.3] text-blue-gray-900 mb-4">Browse past accepted submissions</h2>
        <p class="block antialiased font-sans text-xl font-normal leading-relaxed mx-auto w-full px-4 text-blue-gray-800 md:w-10/12 lg:w-7/12 lg:px-8">
            Learn more about what was accepted in previous years. 
        </p>
    </div>
    <div class="container mx-auto grid grid-cols-1 gap-y-20 md:grid-cols-2 lg:grid-cols-3">
        <div class="relative flex flex-col bg-clip-border rounded-xl bg-transparent text-gray-700 shadow-none">
            <div class="p-6 grid justify-center text-center">
                <div class="mx-auto mb-6 grid h-12 w-12 place-items-center rounded-full bg-dark p-2.5 text-white">
                    <div class="mb-6 grid h-12 w-12 place-items-center rounded-full bg-gray-900 p-2.5 text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" data-slot="icon" class="h-6 w-6" stroke-width="2">
                            <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"></path>
                            <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>
                <h5 class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-blue-gray-900 mb-2 !font-semibold">All Past Forums</h5>
                <p class="block antialiased font-sans text-base leading-relaxed px-8 font-normal text-gray-700">
                The DLF Forum has happened in one form or another each year since 1999. <a target="_blank" class="underline" href="https://www.diglib.org/dlf-events/past/">View all past Forums</a>.
            </p>
            </div>
        </div>
        <div class="relative flex flex-col bg-clip-border rounded-xl bg-transparent text-gray-700 shadow-none">
            <div class="p-6 grid justify-center text-center">
                <div class="mx-auto mb-6 grid h-12 w-12 place-items-center rounded-full bg-dark p-2.5 text-white">
                    <div class="mb-6 grid h-12 w-12 place-items-center rounded-full bg-gray-900 p-2.5 text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" data-slot="icon" class="h-6 w-6" stroke-width="2">
                            <path fill-rule="evenodd" d="M4.804 21.644A6.707 6.707 0 0 0 6 21.75a6.721 6.721 0 0 0 3.583-1.029c.774.182 1.584.279 2.417.279 5.322 0 9.75-3.97 9.75-9 0-5.03-4.428-9-9.75-9s-9.75 3.97-9.75 9c0 2.409 1.025 4.587 2.674 6.192.232.226.277.428.254.543a3.73 3.73 0 0 1-.814 1.686.75.75 0 0 0 .44 1.223ZM8.25 10.875a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25ZM10.875 12a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875-1.125a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>
                <h5 class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-blue-gray-900 mb-2 !font-semibold">
                2024 DLF Forum
            </h5>
                <p class="block antialiased font-sans text-base leading-relaxed px-8 font-normal text-gray-700">
                Browse presentations from the 2024 DLF <a class="underline" target="_blank" href="https://forum2024.diglib.org/schedule/">In-Person</a> and <a class="underline" target="_blank" href="https://forum2024.diglib.org/virtual-program-schedule/">Virtual events</a>. 
            </p>
            </div>
        </div>
        <div class="relative flex flex-col bg-clip-border rounded-xl bg-transparent text-gray-700 shadow-none">
            <div class="p-6 grid justify-center text-center">
                <div class="mx-auto mb-6 grid h-12 w-12 place-items-center rounded-full bg-dark p-2.5 text-white">
                    <div class="mb-6 grid h-12 w-12 place-items-center rounded-full bg-gray-900 p-2.5 text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" data-slot="icon" class="h-6 w-6" stroke-width="2">
                            <path fill-rule="evenodd" d="M14.615 1.595a.75.75 0 0 1 .359.852L12.982 9.75h7.268a.75.75 0 0 1 .548 1.262l-10.5 11.25a.75.75 0 0 1-1.272-.71l1.992-7.302H3.75a.75.75 0 0 1-.548-1.262l10.5-11.25a.75.75 0 0 1 .913-.143Z" clip-rule="evenodd"></path>
                        </svg>
                    </div>
                </div>
                <h5 class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-blue-gray-900 mb-2 !font-semibold">
                2023 DLF Forum
            </h5>

                <p class="block antialiased font-sans text-base leading-relaxed px-8 font-normal text-gray-700">
                    <a class="underline" target="_blank" href="https://forum2023.diglib.org/schedule/">Browse presentations from the 2023 CLIR Events in St. Louis, Missouri, USA</a>. The DLF Forum was part of a suite of events that also included Learn@DLF (our pre-conference day of workshops) and NDSA's Digital Preservation.
            </p>
            </div>
        </div>
    </div>
</section>