---
layout: info.njk
title: Attendee Guide
draft: true
---


<section class="py-10 px-8 lg:py-20">
  <div class="container mx-auto">
    <div class="mb-24 text-center">
      <h1
        class="mb-4 block font-sans text-3xl font-semibold !leading-snug tracking-normal text-blue-gray-900 antialiased lg:text-5xl"
      >
        Attendee Guide
      </h1>
      <p
        class="mx-auto block font-sans text-xl font-normal leading-relaxed text-inherit !text-gray-600 antialiased max-w-3xl"
      >
        Common questions answered
      </p>
    </div>
    <div class="mx-auto max-w-3xl">
      <div class="relative mb-3">
        <h6
          data-collapse-target="collapse-1"
          class="mb-0 relative flex items-center py-2.5 font-sans text-xl w-full font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-gray-900 antialiased hover:text-blue-gray-900"
        >
          Code of Conduct
        </h6>
        <div data-collapse="collapse-1" class="h-0 overflow-hidden transition-all duration-300 ease-in-out">
          <p class="pt-4 block font-sans text-base font-normal leading-relaxed text-gray-600 antialiased">
            Please review our <a target="_blank" class="underline" href="https://www.diglib.org/about/code-of-conduct/"> DLF Code of Conduct</a> prior to joining us at the Forum. On site, <strong>DLF staff</strong> will be identifiable by their name badges and <strong>white lanyards</strong>.
          </p>
        </div>
      </div>
      <div class="relative mb-3">
        <h6
          data-collapse-target="collapse-2"
          class="mb-0 relative flex items-center py-2.5 font-sans text-xl w-full font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-gray-900 antialiased hover:text-blue-gray-900"
        >
          Active Bystander Training
        </h6>
        <div
          data-collapse="collapse-2"
          class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
        >
          <p class="pt-4 block font-sans text-base font-normal leading-relaxed text-gray-600 antialiased">
            Have you ever witnessed bullying, harassment, or an uncomfortable encounter in a professional context and wished you knew how to intervene? It can be challenging to know what to say or do on the spot. The DLF Code of Conduct invites participants to be Active Bystanders, but what does that really mean?
            <br />
            <br />
            DLF's Committee for Equity and Inclusion hosted an Active Bystander Orientation on October 24, 2023, ahead of the 2023 DLF Forum and affiliated events. This presentation provides an introduction to bystander intervention and an overview of strategies.
            <br />
            <br />
            <a target="_blank" class="underline" href="https://www.diglib.org/wp-content/uploads/2023/10/Active-Bystander-Training-2023.pdf">Download the slides</a> from the training.
            <br />
            <br />
            <a target="_blank" class="underline" href="https://www.diglib.org/wp-content/uploads/2023/10/Active-Bystander-Training-2023.mp4">Watch the recording</a> of the training.
            <br />
            <br />      

          </p>
        </div>
      </div>
      <div class="relative mb-3">
        <h6
          data-collapse-target="collapse-3"
          class="mb-0 relative flex items-center py-2.5 font-sans text-xl w-full font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-gray-900 antialiased hover:text-blue-gray-900"
        >
          Health Protocols
        </h6>
        <div
          data-collapse="collapse-3"
          class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
        >
          <p
            class="pt-4 block font-sans text-base font-normal leading-relaxed text-gray-500 antialiased"
          >
           While CLIR/DLF will not be issuing event-specific health protocol announcements in 2024, we maintain and reinforce the following:
            <br />
            We encourage all attendees to be up to date on their vaccinations.
            <ul class="list-disc pl-5">
              <li></li>
              <li>We encourage all attendees to wear a mask if they feel more comfortable doing so.</li>
              <li>We will have masks and hand sanitizer available at the registration desk.</li>
              <li>We will have a designated quiet space for those who need to take a break.</li>
            </ul>
            <br />
            We are committed to creating a safe and welcoming environment for all attendees. If you have any questions or concerns, please do not hesitate to reach out to us.
            <br />
            <br />
            If you have questions, please send us an email at forum@diglib.org. 
          </p>
        </div>
      </div>
      <div class="relative mb-3">
        <h6
          data-collapse-target="collapse-4"
          class="mb-0 relative flex items-center py-2.5 font-sans text-xl w-full font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-gray-900 antialiased hover:text-blue-gray-900"
        >
          Photography
        </h6>
        <div
          data-collapse="collapse-4"
          class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
        >
          <p
            class="pt-4 block font-sans text-base font-normal leading-relaxed text-gray-600 antialiased"
          >
            When you register for our event, you will have the option to tell us whether or not you would like to be photographed. We ask our attendees to not photograph, video, or audio record anyone without their express permission. Attendees will have differentiated badge lanyards showing their preference for photography.

            <br>
            <br>
            <strong>Black lanyards</strong>: Photographs are okay
            <br>
            <strong>Yellow lanyards</strong>: Please don’t take my photograph

          </p>
        </div>
      </div>
      <div class="relative mb-3">
        <h6
          data-collapse-target="collapse-5"
          class="mb-0 relative flex items-center py-2.5 font-sans text-xl w-full font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-gray-900 antialiased hover:text-blue-gray-900"
        >
          Other Resources
        </h6>
        <div
          data-collapse="collapse-5"
          class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
        >
          <p
            class="pt-4 block font-sans text-base font-normal leading-relaxed text-gray-600 antialiased"
          >
            DLF’s emergency/Code of Conduct number at <strong>(732) 737-7328</strong> (732-RESPECT). This number will be continuously monitored by CLIR/DLF staff during our in-person events between the hours of 7am and 9pm in the time zone of the events.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>