---
layout: about.njk
title: Scholarships
description: Scholarships for the DLF Forum

---

Scholarship for 2025 DLF Forum were made possible by the generous support of the following sponsors:

<img src="/static/metaArchive.png" alt="Meta Archive" class="w-1/2 mx-auto mb-4" />