<nav class="block py-4 backdrop-saturate-200 backdrop-blur-2xl bg-opacity-80 border border-white/80 w-full max-w-full rounded-none px-4 bg-white text-white">
    <div class="container mx-auto flex items-center justify-between">
        <div>
            <nav aria-label="breadcrumb" class="w-max">
                <ol  class="flex flex-wrap items-center w-full bg-opacity-60 py-2 px-4 rounded-md !bg-white">
                    
                    <li class="flex items-center text-blue-gray-900 antialiased font-sans text-sm font-normal leading-normal cursor-pointer transition-colors duration-300 hover:text-light-blue-500">
                        <a href="/" class="opacity-60 font-bold">
                            <span>Home</span>
                        </a>
                        <span class="text-blue-gray-500 text-sm antialiased font-sans font-normal leading-normal mx-2 pointer-events-none select-none">/</span>
                    </li>
                    <li class="flex items-center text-blue-gray-900 antialiased font-sans text-sm font-normal leading-normal cursor-pointer transition-colors duration-300 hover:text-light-blue-500">
                        <a href="#" class="opacity-60 font-bold">
                            <span>Projects</span></a>
                        <span class="text-blue-gray-500 text-sm antialiased font-sans font-normal leading-normal mx-2 pointer-events-none select-none">/</span>
                    </li>
                    <li class="flex items-center text-blue-gray-900 antialiased font-sans text-sm font-normal leading-normal cursor-pointer transition-colors duration-300 hover:text-light-blue-500">
                        <a href="#" class="font-bold">Breadcrumbs</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</nav>


