<section class="py-20 px-8">
    <div class="container mx-auto mb-20 text-center">
        <p class="block antialiased font-sans text-base leading-relaxed text-blue-700 mb-2 font-bold">Latest Posts</p>
        <h1 class="block antialiased tracking-normal font-sans text-5xl font-semibold leading-tight text-blue-gray-900 mb-4">Forum News</h1>
        <p class="block antialiased font-sans text-xl font-normal leading-relaxed text-inherit mx-auto w-full px-4 !text-gray-600 lg:w-8/12 lg:px-8">Keep up to date on all DLF Forum 2025 communications</p>
    </div>
    <div class="container mx-auto grid grid-cols-1 items-start gap-y-20 gap-x-8 px-8 pt-10 pb-16 md:grid-cols-2 lg:grid-cols-3">
        {%- for post in collections.post -%}
            <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
                <div class="relative bg-clip-border mx-4 rounded-xl overflow-hidden bg-white text-gray-700 shadow-lg -mt-6 h-64">
                    <img eleventy:widths="200,600" src="{{ post.data.image }}" alt="{{ post.data.title }}" class="h-full w-full object-cover"/>
                </div>
                <div class="p-6">
                    <p class="block antialiased font-sans text-sm font-light leading-normal text-blue-700 mb-2 !font-semibold">Featured</p>
                    <a href="{{ post.url }}" class="mb-2 grid grid-cols-6 items-baseline gap-2 text-blue-gray-900 transition-colors hover:text-blue-500">
                        <div class="col-span-5">
                            <h2 class="block antialiased tracking-normal font-sans text-xl font-semibold leading-snug text-inherit normal-case">{{ post.data.title }}</h2>
                        </div>
                    </a>
                    <p class="block antialiased font-sans text-base leading-relaxed text-inherit mb-6 font-normal !text-gray-600">
                        {{ post.data.excerpt }}
                    </p>
                    <div class="flex items-center gap-3">
                        <img eleventy:widths="100,200" src="/static/dlf-logo-merged.svg" alt="DLF" class="inline-block relative object-cover object-center !rounded-full w-9 h-9 rounded-md">
                        <div class="flex flex-col">
                            <p class="block antialiased font-sans text-sm font-light leading-normal text-blue-gray-900 !font-semibold">DLF</p>
                            <p class="block antialiased font-sans text-inherit text-xs font-normal !text-gray-600">{{ post.date | readableDate }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {%- endfor %}
    </div>
    <div class="px-12 pb-20 text-center">

        <a href="/posts/" class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg text-gray-900 hover:bg-gray-900/10 active:bg-gray-900/20 inline-flex items-center pl-4" type="button">
            All Posts
        </a>
    </div>
</section>