



<nav class="block py-4 w-full max-w-full rounded-none px-4 bg-transparent text-white shadow-none fixed top-0 z-50 border-0">
    <div class="container mx-auto flex items-center justify-between">
        <p class="block antialiased font-sans text-white text-lg font-bold">{{metadata.title}}</p>
        <ul class="ml-10 hidden items-center gap-6 lg:flex text-white">
            <!-- <li>
                <a href="#about" target="_self" class="antialiased font-sans text-base leading-relaxed text-inherit flex items-center gap-2 font-medium">
                    <i class="fa-solid fa-people-group"></i>
                    <span>About</span>
                </a>
            </li> -->
            <li>
                <a href="/schedule/" target="_self" class="antialiased font-sans text-base leading-relaxed text-inherit flex items-center gap-2 font-medium">
                    <i class="fa-regular fa-calendar"></i>
                    <span>Schedule</span></a>
            </li>
            <li>
                <a href="/learn-at-dlf/" target="_blank" class="antialiased font-sans text-base leading-relaxed text-inherit flex items-center gap-2 font-medium">
                    <i class="fa-solid fa-users"></i>
                    <span>Learn@DLF</span></a>
            </li>
            <li>
                <a href="/resources/" target="_blank" class="antialiased font-sans text-base leading-relaxed text-inherit flex items-center gap-2 font-medium">
                    <i class="fa-regular fa-bookmark"></i>
                    <span>Resources</span></a>
            </li>
            <li>
                <a href="activities" target="_blank" class="antialiased font-sans text-base leading-relaxed text-inherit flex items-center gap-2 font-medium">
                    <i class="fa-solid fa-palette"></i>
                    <span>Activities</span></a>
            </li>
            <li>
                <a href="/sponsors/" target="_blank" class="antialiased font-sans text-base leading-relaxed text-inherit flex items-center gap-2 font-medium">
                    <i class="fa-solid fa-heart"></i>
                    <span>Sponsors</span></a>
            </li>
        </ul>
        {# <div class="hidden items-center gap-4 lg:flex">
            <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg text-white hover:bg-white/10 active:bg-white/30" type="button">Log in</button>
            <a href="https://www.material-tailwind.com/blocks" target="_blank">
                <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-white text-blue-gray-900 shadow-md shadow-blue-gray-500/10 hover:shadow-lg hover:shadow-blue-gray-500/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none" type="button">blocks</button>
            </a>
        </div> #}
        <button class="relative align-middle select-none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-10 max-w-[40px] h-10 max-h-[40px] rounded-lg text-xs text-white hover:bg-white/10 active:bg-white/30 ml-auto inline-block lg:hidden" type="button">
            <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" stroke-width="2" class="h-6 w-6">
                    <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd"></path>
                </svg>
            </span>
        </button>
    </div>
    <div class="block w-full basis-full overflow-hidden" style="height:0px">
        <div class="container mx-auto mt-4 rounded-lg bg-white px-6 py-5">
            <ul class="flex flex-col gap-4 text-gray-900">
                <!-- <li>
                    <a href="/about/" target="_self" class="antialiased font-sans text-base leading-relaxed text-inherit flex items-center gap-2 font-medium">
                        <i class="fa-solid fa-people-group"></i>
                        About
                    </a>
                </li>-->
                <li>
                    <a href="/schedule/" target="_self" class="antialiased font-sans text-base leading-relaxed text-inherit flex items-center gap-2 font-medium">
                        <i class="fa-regular fa-calendar"></i>
                    Schedule</a>
                </li>
                <li>
                    <a href="/learn-at-dlf/" target="_blank" class="antialiased font-sans text-base leading-relaxed text-inherit flex items-center gap-2 font-medium">
                        <i class="fa-solid fa-users"></i>
                    Learn@DLF</a>
                </li>
                <li>
                    <a href="/resources/" target="_blank" class="antialiased font-sans text-base leading-relaxed text-inherit flex items-center gap-2 font-medium">
                        <i class="fa-solid fa-users"></i>
                    Resources</a>
                </li>
                <li>
                    <a href="/activities/" target="_blank" class="antialiased font-sans text-base leading-relaxed text-inherit flex items-center gap-2 font-medium">
                        <i class="fa-solid fa-users"></i>
                    Activities</a>
                </li>
                <li>
                    <a href="/sponsors/" target="_blank" class="antialiased font-sans text-base leading-relaxed text-inherit flex items-center gap-2 font-medium">
                        <i class="fa-solid fa-users"></i>
                    Sponsors</a>
                </li>
            </ul>
        </div>
    </div>
</nav>