<section class="py-8 px-8 lg:py-20">
    <div class="container mx-auto text-center">
        <h6 class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-blue-gray-900 mb-8">SPONSORED BY</h6>
        <div class="flex flex-wrap items-center justify-center gap-6">
            <img alt="coinbase" loading="lazy" width="256" height="256" decoding="async" data-nimg="1" class="w-40" style="color:transparent" src="/logos/logo-coinbase.svg">
            <img alt="spotify" loading="lazy" width="256" height="256" decoding="async" data-nimg="1" class="w-40" style="color:transparent" src="/logos/logo-spotify.svg">
            <img alt="pinterest" loading="lazy" width="256" height="256" decoding="async" data-nimg="1" class="w-40" style="color:transparent" src="/logos/logo-pinterest.svg">
            <img alt="google" loading="lazy" width="256" height="256" decoding="async" data-nimg="1" class="w-40" style="color:transparent" src="/logos/logo-google.svg">
            <img alt="amazon" loading="lazy" width="256" height="256" decoding="async" data-nimg="1" class="w-40" style="color:transparent" src="/logos/logo-amazon.svg">
            <img alt="netflix" loading="lazy" width="256" height="256" decoding="async" data-nimg="1" class="w-40" style="color:transparent" src="/logos/logo-netflix.svg">
        </div>
    </div>
</section>