---
layout: default.njk
---

<!-- Hero Section -->
<header class="h-96 bg-cover bg-center relative" style="background-image: url('{{ image }}');">
    <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center">
        <h1 class="text-white text-4xl md:text-6xl font-bold">{{ title }}</h1>
    </div>
</header>


<section class="container mx-auto flex flex-col items-center px-4 py-10">
    {{ content | safe }}
</section>