---
title: Call for Proposals is Open
image: /boston-public-library-y0OWfnOGnzo-unsplash.jpg
blurb: Submit your proposal for DLF Forum 2025
drafts: true
---

<section id="call-for-proposals" class="mx-auto container max-w-5xl px-8 py-10">
    <div class="text-center mb-10 lg:mb-12">
        <div class="mb-6 grid h-12 w-12 place-items-center rounded-lg bg-gray-900 mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-6 w-6 text-white">
                <path fill-rule="evenodd" d="M12 1.5a.75.75 0 01.75.75V4.5a.75.75 0 01-1.5 0V2.25A.75.75 0 0112 1.5zM5.636 4.136a.75.75 0 011.06 0l1.592 1.591a.75.75 0 01-1.061 1.06l-1.591-1.59a.75.75 0 010-1.061zm12.728 0a.75.75 0 010 1.06l-1.591 1.592a.75.75 0 01-1.06-1.061l1.59-1.591a.75.75 0 011.061 0zm-6.816 4.496a.75.75 0 01.82.311l5.228 7.917a.75.75 0 01-.777 1.148l-2.097-.43 1.045 3.9a.75.75 0 01-1.45.388l-1.044-3.899-1.601 1.42a.75.75 0 01-1.247-.606l.569-9.47a.75.75 0 01.554-.68zM3 10.5a.75.75 0 01.75-.75H6a.75.75 0 010 1.5H3.75A.75.75 0 013 10.5zm14.25 0a.75.75 0 01.75-.75h2.25a.75.75 0 010 1.5H18a.75.75 0 01-.75-.75zm-8.962 3.712a.75.75 0 010 1.061l-1.591 1.591a.75.75 0 11-1.061-1.06l1.591-1.592a.75.75 0 011.06 0z" clip-rule="evenodd"></path>
            </svg>
        </div>
        <h2 class="block antialiased tracking-normal font-sans text-3xl font-semibold leading-snug text-blue-gray-900">
            Call for Proposals
        </h2>
        <p class="block antialiased font-sans text-xl font-normal leading-relaxed text-inherit mt-2 max-w-4xl mx-auto !text-gray-700">
            We invite proposals for the 2025 DLF Forum (November 17-19) and our pre-conference workshop day, Learn@DLF (November 16), which will be held in-person at the Westin Denver Downtown Hotel in Denver, Colorado. 
        </p>
        <!-- ✅ BIG CTA BUTTON -->
        <div class="mt-6">
            <a href="#" class="select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-3.5 px-7 text-center align-middle font-sans text-sm font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" data-ripple-light="true">
                Submit Your Proposal
            </a>
        </div>
    </div>
</section>

<section class="py-5 px-8 min-h-screen grid">
    <div class="mx-auto max-w-screen-md">
        <h2 class="block antialiased tracking-normal font-sans font-semibold text-blue-gray-900 mb-6 lg:text-3xl !text-2xl !leading-snug lg:max-w-sm">
                Topics
        </h2>
        <p class="block antialiased font-sans leading-relaxed text-inherit text-base !font-normal mb-6 ">
            We invite proposals on all topics related to digital libraries, encompassing case studies, "show and fails," practical application, methods, projects, ethics, research, and learning in any area, including, but not limited to: 
        </p>

        <ul class="list-disc list-inside mt-1 text-lg">
            <li>Digital humanities</li>
            <li>Digital scholarship</li>
            <li>Digital pedagogy</li>
            <li>Digital collections and DAMS	</li>
            <li>Digitization, digital preservation, or reformatting analog to digital format(s)</li>
            <li>Born-digital materials</li>
            <li>Art information</li>
            <li>Community archives</li>
            <li>Machine learning / artificial intelligence</li>
            <li>Project management</li>
            <li>Partnerships, advocacy, and outreach</li>
            <li>Race and technology</li>
            <li>Accessibility</li>
            <li>Copyright</li>
            <li>Assessment</li>
            <li>Climate change </li>
        </ul>
    
        <h2 id="formats" class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-[1.3] text-blue-gray-900 my-4 font-black text-4xl !leading-snug">
            Session Formats
        </h2>
        <p class="block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal">
            Sessions are invited in the following lengths and formats:
        </p>

        <h3 id="learn-at-dlf-formats" class="text-xl font-semibold mt-4">Learn@DLF</h3>
        <p class="mt-4 block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal">
            <strong>3-hour Workshops:</strong> In-depth, hands-on training sessions on specific tools, techniques, workflows, or concepts. Five facilitators maximum per submission. Q&amp;A and discussion should be incorporated throughout in an interactive and inclusive format. Workshop organizers are asked to provide details on technology needed, participant proficiency level, and learning outcomes. Interested in presenting something longer? Consider submitting a 'part I' (morning session) and 'part II' (afternoon session) as two separate proposals. 
        </p>
        <h3 id="forum-formats" class="text-xl font-semibold mt-4">DLF Forum, November 17-19:</h3>
        <ul class="list-disc list-inside mt-4 text-lg">
            <li>
                <strong>45-minute Workshops:</strong> Hands-on training sessions on a specific tool, technique, workflow, or concept. Up to <strong>two (2) facilitators</strong> are allowed per submission. 
            </li>
            <li>
                <strong>45-minute Working Sessions:</strong> Open sessions for community organizers, creative problem solvers, and existing or prospective DLF working groups to begin or get feedback on in-progress projects, collaborate on addressing challenges, and discuss thought-provoking questions. Up to <strong>two (2) facilitators</strong> are allowed per submission.
            </li>
            <li>
                <strong>35-minute Panels:</strong> A discussion of up to <strong>three (3) presenters</strong> on a unified topic, with an emphasis on community discussion. Proposals with diverse and inclusive speaker involvement will be favored by the committee. Panels will be slotted into 60-minute sessions, leaving a minimum of 15 minutes for Q&amp;A and discussion at the end of each session. 
            </li>
            <li>
                <strong>30-minute Presentations:</strong> A single topic or project presented by up to <strong>two (2) presenters</strong>. Presentations will be slotted into 45-minute sessions, leaving a minimum of 15 minutes for Q&amp;A and discussion at the end of each session. 
            </li>
        </ul>
    
        <h2 id="requirements" class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-[1.3] text-blue-gray-900 my-4 font-black text-4xl !leading-snug">
            Proposal Requirements
        </h2>
        <ul class="list-disc list-inside mt-4 text-lg">
            <li>Proposal title and submission format.</li>
            <li><strong>Author information:</strong> full names, organizational affiliations, and email addresses for all presenters and authors.</li>
            <li><strong>Brief abstract</strong> - limited to 50 words.</li>
            <li><strong>Full proposal</strong> - limited to 250 words for all formats except for panels, which are limited to 500 words.</li>
            <li><strong>Five keywords</strong> for your proposal.</li>
            <li>
                <strong>Workshops Only:</strong> Learning objectives (limited to 50 words; brief, clear statements about what attendees will be able to do as a result of taking your proposed workshop); technology needed; participant proficiency level; how your workshop will be interactive.</li>
            <li>All submissions are under a <a target="_blank" class="underline" href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a> license, which allows for sharing and adaptation of content but which requires appropriate credit and an indication of any changes made by others. Presenters must agree to share their work under this license in the submission form.</li>
        </ul>

        <h2 id="evaluation" class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-[1.3] text-blue-gray-900 my-4 font-black text-4xl !leading-snug">
            Submission and Evaluation
        </h2>
        <p class="block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal">
            Based on community feedback and the work of our Program Committee, we welcome submissions geared toward a practitioner audience that:
        </p>
        <ul class="list-disc list-inside mt-4 text-lg">
            <li>Clearly engage with <a class="underline" target="_blank" href="https://www.diglib.org/about/">DLF's mission</a>;</li>
            <li>Activate and inspire participants to think, make, and do;</li>
            <li>Engage people from different backgrounds, experience levels, and disciplines; and/or</li>
            <li>Include clear takeaways that participants can integrate and implement in their own work.</li>
        </ul>

        <p class="mt-4 block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal">
            All submissions will be peer-reviewed. <a target="_blank" href="https://www.diglib.org/conference-session-evaluation-rubric/" class="underline">Reviewers will use this rubric</a> to rate each proposal based on the values listed above. They may also recommend the proposal for a different format. Broader DLF community input will also be solicited through an open community voting process, which will inform the Program Committee's final decisions.
        </p>

        <p class="mt-4 block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal">
            <strong>We especially welcome proposals from individuals who bring diverse professional and life experiences to the conference, including those from underrepresented or historically excluded racial, ethnic, or religious backgrounds, immigrants, veterans, those with disabilities, and people of all sexual orientations or gender identities.</strong> As we have done in the past, the Program Committee will prioritize submissions from individuals who identify as Black, Indigenous, and People of Color (BIPOC), individuals working at Historically Black Colleges and Universities (HBCUs), Tribal Colleges and Universities (TCUs), and other libraries, archives, museums, and organizations that center BIPOC to promote inclusivity to the greatest extent possible. Self-identification options will be provided in the proposal submission form but are not required. 

        </p>

        <h2 id="schedule" class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-[1.3] text-blue-gray-900 my-4 font-black text-4xl !leading-snug">
            Schedule
        </h2>

        <ul class="list-disc list-inside mt-4 text-lg">
            <li>Call for Proposals opens: Tuesday, March 18</li>
            <li>Call for Proposals closes: Monday, April 14</li>
            <li>Notification of final decisions for Learn@DLF: Week of May 5</li>
            <li>Notification of final decisions for DLF Forum: Week of June 9</li>
            <li>Program released: Week of June 16</li>
        </ul>
    </div>
</section>

<!-- FAQ -->
<section class="px-8 py-20">
    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-5">
        <div class="col-span-2 mb-20 text-center">
            <h2 id="faq" class="block antialiased tracking-normal font-sans font-semibold text-blue-gray-900 mb-4 text-left text-4xl !leading-snug lg:text-5xl">
            Frequently asked questions
        </h2>
            <p class="block text-left font-sans text-xl font-normal leading-relaxed text-inherit !text-gray-600 antialiased lg:w-4/5">
            Got questions? We've got answers!
        </p>
        </div>
        <div class="col-span-3 grid grid-cols-1 gap-10 lg:grid-cols-2 lg:gap-20">
            <div class="relative flex flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none">
                <h3 class="block pb-6 font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                    Who should submit a proposal?
                </h3>

                <p class="block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
                    We encourage proposals from:
                </p>

                <ul class="list-inside list-disc !text-gray-600">
                    <li>DLF <a class="underline" target="_blank" href="https://www.diglib.org/members/">members</a> and non-members;</li>
                    <li>Regulars and newcomers;</li>
                    <li>Digital library practitioners from all sectors (higher education, museums and cultural heritage, public libraries, archives, etc.) and those in adjacent fields such as institutional research and educational technology;</li>
                    <li>Students, early- and mid-career professionals, and senior staff alike.</li>
                </ul>
            </div>

            <div class="relative flex flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none">
                <h3 class="block pb-6 font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                    What makes a successful proposal? Can I see successful proposals from previous years? 
                </h3>
                <p class="block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
                    We strongly encourage prospective presenters to review our <a target="_blank" class="underline" href="https://forum2024.diglib.org/resources-for-presenters/">Resources for Forum Presenters</a>, <a target="_blank" class="underline" href="https://www.diglib.org/conference-session-evaluation-rubric/">rubric</a>, and past <a target="_blank" class="underline" href="https://www.diglib.org/dlf-events/past/">DLF Forum programs</a> to understand what makes a successful DLF Forum proposal. Strong proposals will demonstrate how presenters intend to design their proposed sessions to be interactive, inclusive, and action-oriented and will also outline clear learning objectives.
                </p>
            </div>

            <div class="relative flex flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none">
                <h3 class="block pb-6 font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                    Can you help me find a co-presenter? 
                </h3>
                <p class="block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
                    Looking for co-presenters on a particular topic? Try using our Unofficial Program Sessions and Connections spreadsheet. Note that the Program Committee and DLF Staff <strong>do not monitor the document</strong> and it is not part of the official submission process. 
                </p>
            </div>
            <div class="relative flex flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none">
                <h3 class="block pb-6 font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                    How is my proposal evaluated?
                </h3>
                <p class="block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
                    All submissions will be peer reviewed. Reviewers will use this <a target="_blank" class="underline" href="https://www.diglib.org/conference-session-evaluation-rubric/">rubric</a> to rate each proposal. They may also recommend the proposal for a different format. Broader DLF community input will also be solicited through an open community voting process, which will inform the Program Committee's final decisions. 

                </p>
            </div>
            
            <div class="relative flex flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none">
                <h3 class="block pb-6 font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                    What is the author limit? What is the presenter limit?
                </h3>
                <p class="block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
                    There is no limit to the number of non-presenting authors listed on a proposal. Panels can have up to three (3) panelists and all other proposal types can have two (2).
                </p>
            </div>
            <div class="relative flex flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none">
                <h3 class="block pb-6 font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                    Who is the audience for DLF Forum? 
                </h3>
                <p class="block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
                    DLF events attract a diverse, cross-sector audience involved in digital libraries, museums, archives, and cultural heritage. This includes librarians, project managers, curators, technologists, developers, administrators, and service providers from academic, cultural, non-profit, and government organizations worldwide. Attendees are engaged professionals focused on learning and collaborative problem-solving.
                </p>
            </div>
        </div>
    </div>
    <!---
    <div class="text-center">
        <h3 class="block antialiased tracking-normal font-sans font-semibold leading-snug text-blue-gray-900 mb-4 !text-2xl lg:!text-3xl">
            Need more help?
        </h3>
        <p class="block antialiased font-sans text-xl font-normal leading-relaxed text-inherit mx-auto mb-5 !text-gray-600">
            Send us an email with more details about your specific needs.
      </p>
      <button
        class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
        type="button"
        data-ripple-light="true"
      >
        submit a request
      </button>
    </div>-->
</div>
</section>