---
title: Call for Proposals is Open
image: /static/boston-public-library-y0OWfnOGnzo-unsplash.webp
blurb: Submit your proposal for DLF Forum 2025
excerpt: We invite proposals for the 2025 DLF Forum (November 17-19) and our pre-conference workshop day, Learn@DLF (November 16), which will be held in-person at the Westin Denver Downtown Hotel in Denver, Colorado. 
drafts: true
preload:
    - /static/boston-public-library-y0OWfnOGnzo-unsplash.webp
---

<section id="call-for-proposals" class="mx-auto container max-w-5xl px-8 py-10">
    <div class="text-center mb-10 lg:mb-12">
        <div class="mb-6 grid h-12 w-12 place-items-center rounded-lg bg-gray-900 mx-auto">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="h-6 w-6 text-white">
                <path fill-rule="evenodd" d="M12 1.5a.75.75 0 01.75.75V4.5a.75.75 0 01-1.5 0V2.25A.75.75 0 0112 1.5zM5.636 4.136a.75.75 0 011.06 0l1.592 1.591a.75.75 0 01-1.061 1.06l-1.591-1.59a.75.75 0 010-1.061zm12.728 0a.75.75 0 010 1.06l-1.591 1.592a.75.75 0 01-1.06-1.061l1.59-1.591a.75.75 0 011.061 0zm-6.816 4.496a.75.75 0 01.82.311l5.228 7.917a.75.75 0 01-.777 1.148l-2.097-.43 1.045 3.9a.75.75 0 01-1.45.388l-1.044-3.899-1.601 1.42a.75.75 0 01-1.247-.606l.569-9.47a.75.75 0 01.554-.68zM3 10.5a.75.75 0 01.75-.75H6a.75.75 0 010 1.5H3.75A.75.75 0 013 10.5zm14.25 0a.75.75 0 01.75-.75h2.25a.75.75 0 010 1.5H18a.75.75 0 01-.75-.75zm-8.962 3.712a.75.75 0 010 1.061l-1.591 1.591a.75.75 0 11-1.061-1.06l1.591-1.592a.75.75 0 011.06 0z" clip-rule="evenodd"></path>
            </svg>
        </div>
        <h2 class="block antialiased tracking-normal font-sans text-3xl font-semibold leading-snug text-blue-gray-900">
            Call for Proposals
        </h2>
        <p class="block antialiased font-sans text-xl font-normal leading-relaxed text-inherit mt-2 max-w-4xl mx-auto !text-gray-700">
            We invite proposals for the 2025 DLF Forum (November 17-19) and our pre-conference workshop day, Learn@DLF (November 16), which will be held in-person at the Westin Denver Downtown Hotel in Denver, Colorado. 
        </p>
        <div class="mt-6">
            <p>            
                The submission deadline for both events is Monday, April 14, at 11:59pm MT 
            </p>
            <p class="pt-20">
                <a target="_blank" href="https://www.conftool.pro/dlf2025/">
                    <button class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-blue-700 text-white shadow-md shadow-blue-700/10 hover:shadow-lg hover:shadow-blue-700/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none bg-blue-700 hidden lg:inline-block" type="button" data-ripple-light="true">
                        Submit your Proposal
                    </button>
                </a>
            </p>
        </div>
    </div>
</section>

<hr class="mb-8 border-t border-blue-gray-300 w-1/4 mx-auto" />

<section id="topics" class="px-8 min-h-screen grid">

    <div class="mx-auto max-w-screen-md">
        
        {# <h2 class="block antialiased tracking-normal font-sans font-semibold text-blue-gray-900 mb-6 lg:text-3xl !text-2xl !leading-snug lg:max-w-sm">
            Topics
        </h2> #}

        <p class="text-lg block antialiased font-sans leading-relaxed text-inherit text-base !font-normal mb-6 ">
            We invite proposals on all topics related to digital libraries, encompassing case studies, "fail and learn" opportunities, practical application, methods, projects, ethics, research, and learning in any area, including, but not limited to: 
        </p>

        <ul class="list-disc list-inside mt-1">
            <li class="pl-4">Digital humanities</li>
            <li class="pl-4">Digital scholarship</li>
            <li class="pl-4">Digital pedagogy</li>
            <li class="pl-4">Digital collections and DAMS</li>
            <li class="pl-4">Digitization, digital preservation, or reformatting analog to digital format(s)</li>
            <li class="pl-4">Born-digital materials</li>
            <li class="pl-4">Data curation</li>
            <li class="pl-4">Data access</li>
            <li class="pl-4">Art information</li>
            <li class="pl-4">Community archives</li>
            <li class="pl-4">Machine learning / artificial intelligence</li>
            <li class="pl-4">Project management</li>
            <li class="pl-4">Partnerships, advocacy, and outreach</li>
            <li class="pl-4">Race and technology</li>
            <li class="pl-4">Accessibility</li>
            <li class="pl-4">Copyright</li>
            <li class="pl-4">Assessment</li>
            <li class="pl-4">Climate change </li>
            <li class="pl-4">Open access</li>
            <li class="pl-4">Library-based publishing</li>
            <li class="pl-4">Future of higher education</li>
        </ul>

        <h2 class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-[1.3] text-blue-gray-900 my-4 font-black text-4xl !leading-snug">
            Session Formats
        </h2>

        <p class="block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal">
            All sessions will take place in person. There is no option to present virtually. Sessions are invited in the following lengths and formats:
        </p>

        <h3 class="text-xl font-semibold mt-4">Learn@DLF, November 16:</h3>
        <ul class="list-disc list-outside mt-4 pl-4">
            <li class="pl-4">
                <strong>3-hour Workshops:</strong> In-depth, hands-on training sessions on specific tools, techniques, workflows, or concepts. <strong>Up to four (4) facilitators</strong> are allowed per submission. Q&amp;A and discussion should be incorporated throughout in an interactive and inclusive format. Workshop organizers are asked to provide learning outcomes, details on any required technologies, and the desired participant proficiency level. Interested in presenting something longer? Consider submitting a 'Part I' (morning session) and 'Part II' (afternoon session) as two separate proposals.
            </li>
        </ul>


        <h3 class="text-xl font-semibold mt-4">DLF Forum, November 17-19:</h3>
        
        <ul class="mb-5 list-disc list-outside mt-4 pl-4">
            <li class="pl-4">
                <strong>45-minute Workshops:</strong> Hands-on training sessions on a specific tool, technique, workflow, or concept. <strong>Up to three (3) facilitators</strong> are allowed per submission. Workshop organizers are asked to provide learning outcomes, details on any required technologies, and the desired participant proficiency level;
            </li>
            <li class="pl-4">
                <strong>45-minute Working Sessions:</strong> Open sessions for community organizers, creative problem solvers, and existing or prospective DLF working groups to begin or get feedback on in-progress projects, collaborate on addressing challenges, and discuss thought-provoking questions. <strong>Up to two (2) facilitators</strong> are allowed per submission;
            </li>
            <li class="pl-4">
                <strong>35-minute Panels:</strong> A discussion among <strong>up to four (4) presenters</strong> on a unified topic, with an emphasis on community conversation. Panels will be slotted into 45-minute sessions, leaving a minimum of 10 minutes for Q&amp;A and discussion at the end of each session; 
            </li>
            <li class="pl-4">
                <strong>30-minute Presentations:</strong> A single topic or project presented by <strong>up to two (2) presenters</strong>. Presentations will be slotted into 45-minute sessions, leaving a minimum of 15 minutes for Q&amp;A and discussion at the end of each session; 
            </li>
            <li class="pl-4">
                <strong>5-minute Lightning Talks:</strong> High-energy talks held in succession for all conference attendees. <strong>Up to two (2) presenters</strong> are allowed per submission. There is no formal Q&A for lightning talks, but we encourage conversation at the reception that follows.
            </li>
        </ul>

        <h2 class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-[1.3] text-blue-gray-900 my-4 font-black text-4xl !leading-snug">
            Proposal Requirements
        </h2>
        <ul class="list-disc list-outside mt-4 pl-4">
            <li class="pl-4">Proposal <strong>title</strong> and <strong>submission format</strong>;</li>
            <li class="pl-4">
                <strong>Author information:</strong> full names, organizational affiliations, and email addresses for all presenters and authors. Individuals may choose to use personal or institutional email addresses;
            </li>
            <li class="pl-4">
                <strong>Brief abstract</strong> - limited to 50 words;</li>
            <li class="pl-4">
                <strong>Full proposal</strong> - limited to 250 words for all formats except for panels and workshops, which are limited to 500 words;</li>
            <li class="pl-4">
                <strong>Five keywords</strong> for your proposal;</li>
            <li class="pl-4">
                <strong>Workshops Only</strong> &mdash; all of the above, plus:
                <ul class="list-disc list-outside pl-10">
                    <li class="pl-4"><strong>Learning objectives</strong> - limited to 50 words; brief, clear statements about what attendees will be able to do as a result of taking your proposed workshop
                    </li>
                    <li class="pl-4"><strong>Technology needed</strong></li>
                    <li class="pl-4"><strong>Desired participant proficiency level</strong></li>
                </ul>
            </li>
            <li class="pl-4">
                All submissions are under a <a target="_blank" class="underline" href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0 International</a> license which allows for sharing and adaptation of content but which requires appropriate credit and an indication of any changes made by others. Presenters must agree to share their work under this license in the submission form.
            </li>
        </ul>

        <h2 class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-[1.3] text-blue-gray-900 my-4 font-black text-4xl !leading-snug">
            Submission and Evaluation
        </h2>
        <p class="text-lg block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal">
            Based on community feedback and the work of our Program Committee, we welcome submissions geared toward a practitioner audience that:
        </p>
        <ul class="list-disc list-outside mt-4 pl-4">
            <li class="pl-4">
                Clearly embody <a class="underline" target="_blank" href="https://www.diglib.org/about/">DLF's mission</a>;
            </li>
            <li class="pl-4">Activate and inspire participants to think, make, and do;</li>
            <li class="pl-4">Engage people from different backgrounds, experience levels, and disciplines; and/or</li>
            <li class="pl-4">Include clear takeaways that participants can integrate and implement in their own work.</li>
        </ul>

        <p class="mt-4 block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal">
            All submissions will be peer-reviewed. <a target="_blank" href="https://www.diglib.org/conference-session-evaluation-rubric/" class="underline">Reviewers will use this rubric</a> to rate each proposal based on the values listed above. They may also recommend the proposal for a different format. Broader DLF community input will also be solicited through an open community voting process, which will inform the Program Committee's final decisions.
        </p>

        <p class="mt-4 block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal">
            <strong>We especially welcome proposals from individuals who bring diverse professional and life experiences to the conference, including those from underrepresented or historically excluded racial, ethnic, or religious backgrounds, immigrants, veterans, those with disabilities, and people of all sexual orientations or gender identities.</strong> As we have done in the past, the Program Committee will prioritize submissions from individuals who identify as Black, Indigenous, and People of Color (BIPOC), individuals working at Historically Black Colleges and Universities (HBCUs), Tribal Colleges and Universities (TCUs), and other libraries, archives, museums, and organizations that center BIPOC to promote inclusivity to the greatest extent possible. Self-identification options will be provided in the proposal submission form but are not required. 
        </p>

        <h2 id="schedule" class="block antialiased tracking-normal font-sans text-4xl font-semibold leading-[1.3] text-blue-gray-900 my-4 font-black text-4xl !leading-snug">
            Schedule
        </h2>

        <ul class="list-disc list-inside mt-4">
            <li>Call for Proposals opens: <strong>Tuesday, March 18</strong></li>
            <li>Call for Proposals closes: <strong>Monday, April 14</strong></li>
            <li>Notification of final decisions for Learn@DLF: <strong>Week of May 5</strong></li>
            <li>Learn@DLF program released and registration opens: <strong>Week of May 12</strong></li>
            <li>Notification of final decisions for DLF Forum: <strong>Week of June 9</strong></li>
            <li>Program released: <strong>Week of June 16</strong></li>
        </ul>

        <p class="mt-4 block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal">
            <strong>Accepted presenters are guaranteed a spot</strong> at their event at a discounted registration rate. Rates will be published soon.
        </p>

        <p class="mt-4 block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal">
            Please feel free to reach out with any questions: <a class="underline" href="mailto:forum@diglib.org">forum@diglib.org</a>.
        </p>
    </div>
</section>

<!-- FAQ -->
<section class="px-8 py-20">
    <div class="container mx-auto grid grid-cols-1 lg:grid-cols-5">
        <div class="col-span-2 mb-20 text-center">
            <h2 id="faq" class="block antialiased tracking-normal font-sans font-semibold text-blue-gray-900 mb-4 text-left text-4xl !leading-snug lg:text-5xl">
            Frequently asked questions
        </h2>
            <p class="block text-left font-sans text-xl font-normal leading-relaxed text-inherit !text-gray-600 antialiased lg:w-4/5">
            Got questions? We've got answers!
        </p>
        </div>
        <div class="col-span-3 grid grid-cols-1 gap-10 lg:grid-cols-2 lg:gap-20">

            <div id="what-is-dlf-forum" class="relative flex flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none">
                <h3 class="block pb-6 font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                    What is the DLF Forum? 
                </h3>

                <p class="block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
                    DLF programs stretch year-round, but we are perhaps best known for our signature event, <a class="underline" target="_blank" href="https://www.diglib.org/dlf-events/past/">the annual DLF Forum</a>. The DLF Forum welcomes digital library, archives, and museum practitioners from member institutions and beyond—for whom it serves as a meeting place, marketplace, and congress. As a meeting place, the DLF Forum provides an opportunity for our <a class="underline" target="_blank" href="https://www.diglib.org/groups/">working groups</a> and community members to conduct their business and present their work. As a marketplace, the Forum provides an opportunity for community members to share experiences and practices with one another and support a broader level of information sharing among professional staff. As a congress, the Forum provides an opportunity for the DLF to continually review and assess its programs and its progress with input from the community at large.
                </p>

                
            </div>

            <div class="relative flex flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none">
                <h3 class="block pb-6 font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                    Generally, who attends the DLF Forum? 
                </h3>

                <p class="block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
                    The DLF Forum and Learn@DLF attendees are a multi-disciplinary, cross-sector audience of people who work in the digital library, museum, archives, and cultural heritage fields, from librarians, project managers, curators, technologists, and developers to administrators and service providers. The Forum welcomes practitioners from academic, art and cultural heritage, and non-profit organizations, government agencies, and more. They come from all over the country and world and represent all levels of professional experience. Forum attendees are inquisitive, engaged, and action-oriented with a focus on learning new skills and solving problems together.
                </p>
            </div>

            <div class="relative flex flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none">
                <h3 class="block pb-6 font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                    Who should submit a proposal?
                </h3>

                <p class="block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
                    We encourage proposals from:
                </p>
                <ul class="mt-4 list-outside pl-4 list-disc !text-gray-600">
                    <li class="pl-4">DLF <a class="underline" target="_blank" href="https://www.diglib.org/members/">members</a> and non-members;</li>
                    <li class="pl-4">Regulars and newcomers;</li>
                    <li class="pl-4">Digital library practitioners from all sectors (higher education, museums and cultural heritage, public libraries, archives, etc.) and those in adjacent fields such as institutional research and educational technology;</li>
                    <li class="pl-4">Students, early- and mid-career professionals, and senior staff alike.</li>
                </ul>
            </div>

            <div class="relative flex flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none">
                <h3 class="block pb-6 font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                    Can I see successful proposals from previous years?
                </h3>
                <p class="block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
                    We strongly encourage prospective presenters to review our <a target="_blank" class="underline" href="https://forum2024.diglib.org/resources-for-presenters/">Resources for Forum Presenters</a>, <a target="_blank" class="underline" href="https://www.diglib.org/conference-session-evaluation-rubric/">rubric</a>, and past <a target="_blank" class="underline" href="https://www.diglib.org/dlf-events/past/">DLF Forum programs</a> to understand what makes a successful DLF Forum proposal. Strong proposals will demonstrate how presenters intend to design their proposed sessions to be interactive, inclusive, and action-oriented and will also outline clear learning objectives.
                </p>
            </div>

            <div class="relative flex flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none">
                <h3 class="block pb-6 font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                    Can you help me find a co-presenter? 
                </h3>
                <p class="block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
                    Looking for co-presenters on a particular topic? Try using our <a class="underline" target="_blank" href="https://docs.google.com/spreadsheets/d/1EgXlGOFYYOcmWcC-UK_NjrPkme-qk33CGEyV4QSkH9c/edit?usp=sharing">Unofficial Program Sessions and Connections spreadsheet</a>. Note that the Program Committee and DLF Staff <strong>do not monitor the document</strong> and it is not part of the official submission process. 
                </p>
            </div>

            <div class="relative flex flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none">
                <h3 class="block pb-6 font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                    What makes a successful proposal?
                </h3>
                <p class="block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
                    Based on community feedback and the work of our Program Committee, we welcome submissions geared toward a practitioner audience that:
                </p>

                <ul class="list-disc list-outside pl-4 mt-4">
                    <li class="pl-4">Clearly embody DLF's mission;</li>
                    <li class="pl-4">Activate and inspire participants to think, make, and do;</li>
                    <li class="pl-4">Engage people from different backgrounds, experience levels, and disciplines; and/or</li>
                    <li class="pl-4">Include clear takeaways that participants can integrate and implement in their own work.</li>
                </ul>
            </div>

            <div class="relative flex flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none">
                <h3 class="block pb-6 font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                    How is my proposal evaluated?
                </h3>
                <p class="block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
                    All submissions will be peer reviewed. Reviewers will use this <a target="_blank" class="underline" href="https://www.diglib.org/conference-session-evaluation-rubric/">rubric</a> to rate each proposal. They may also recommend the proposal for a different format. Broader DLF community input will also be solicited through an open community voting process, which will inform the Program Committee's final decisions.  
                </p>
            </div>

            <div id="what-is-the-author-limit" class="relative flex flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none">
                <h3 class="block pb-6 font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                    What is the author limit? What is the presenter limit?
                </h3>

                <p class="block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
                    Learn@DLF
                </p>
                <ul class="list-disc list-inside mt-4">
                    <li class="pl-4">3-hour Workshops: Up to 4 facilitators</li>
                </ul>

                <p class="mt-5 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
                    DLF Forum
                </p>
                <ul class="list-disc list-inside mt-4">
                    <li class="pl-4">45-minute Workshops: Up to 3 facilitators</li>
                    <li class="pl-4">45-minute Working Sessions: Up to 2 facilitators</li>
                    <li class="pl-4">35-minute Panels: Up to 4 presenters</li>
                    <li class="pl-4">30-minute Presentations: Up to 2 presenters</li>
                    <li class="pl-4">5-minute Lightning Talks: Up to 2 presenters</li>
                </ul>

                <p class="mt-5 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
                    <strong>There is no limit to the number of non-presenting authors listed on a proposal.</strong>
                </p>
            </div>

            <div id="is-there-a-virtual-option" class="relative flex flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none">
                <h3 class="block pb-6 font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                    Is there a virtual option to attend and/or present?
                </h3>
                <p class="block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
                    There is <strong>no virtual option</strong> for presenting at or attending the 2025 DLF Forum.
                </p>
            </div>
        </div>
    </div>
</section>