---
title: Community Voting Now Open for DLF Forum 2025
cover: /static/marcel-fx39Iesd13M-unsplash.webp
blurb: Community voting is now open for the 2025 DLF Forum and Learn@DLF! Community voting lets DLF and the Program Committee know which proposals resonate with our community. Results are weighed when developing the final event programs.
excerpt: Community voting is now open for the 2025 DLF Forum and Learn@DLF! Community voting lets DLF and the Program Committee know which proposals resonate with our community. Results are weighed when developing the final event programs. Anyone may participate, and you may vote for as many proposals as you'd like, but each one once.
drafts: false
preload:
    - /static/marcel-fx39Iesd13M-unsplash.webp
---

<section id="community-voting" class="mx-auto container max-w-5xl px-8 py-10">
    <div class="mx-auto max-w-screen-md">
        <p class="text-lg block antialiased font-sans leading-relaxed text-inherit text-base !font-normal mb-6 ">
            Community voting is now open for the 2025 DLF Forum and Learn@DLF! Community voting lets DLF and the Program Committee know which proposals resonate with our community. Results are weighed when developing the final event programs. Anyone may participate, and you may vote for as many proposals as you'd like, but each one once.
        </p>

        <p class="block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal">
            How to participate in DLF Community Voting:
        </p>


        <ol class="list-decimal list-inside mt-6">
            <li class="pl-4">Get a feel for your favorites by reading proposal abstracts, organized by event <a class="underline" href="https://bit.ly/2025DLFvoting" target="_blank" rel="noopener">in Airtable</a>&nbsp;or in <a class="underline" href="https://bit.ly/2025DLFvotes" target="_blank" rel="noopener">our accessible Google Sheet</a>.</li>
            <li class="pl-4">Navigate to <a class="underline" href="https://airtable.com/applZThXOH2co8de5/shr2l3Jv2kMTOYfXm" target="_blank" rel="noopener">the voting form</a> to cast your votes.</li>
            <li class="pl-4">You'll be asked to enter your email address. Email will only be used to ensure that each person votes just once, then will be de-coupled from the votes themselves.</li>
            <li class="pl-4">Click the <strong>+Add</strong> button under each event name to select your favorites for each event.</li>
        </ol>

        <p class="mt-6 block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal">
            To learn more about our events, <a class="underline" href="https://forum2025.diglib.org" target="_blank" rel="noopener">visit our event website</a>.
        </p>

        <p class="mt-6 block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal">If you have questions, please let us know at <a class="underline" href="mailto:forum@diglib.org">forum@diglib.org</a>. Thanks!</p>

        <p class="mt-6 block antialiased font-sans text-base font-light leading-relaxed text-inherit font-normal">-Team DLF</p>
    </div>
</section>