---
title: Hotel and Travel
layout: page
image: "/static/westin.jpg"
preload:
    - /static/westin.jpg
draft: true
---

<!-- TODO: refactor into optional inclusion -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<style>
    #map { height: 400px; }
</style>

<h2>Conference Venue &amp; Hotel</h2>

<p>The forum will be held at The Westin Denver Downtown</p>

<p>
    <a class="underline" target="_blank" href="https://www.marriott.com/en-us/hotels/denwi-the-westin-denver-downtown/overview/">The Westin Denver Downtown</a><br>
    672 Lawrence St<br>
    Denver, CO 80202<br>
    <a href="tel:303-572-9100">+1 303-572-9100</a>
</p>

<img eleventy:widths="200,600" src="/static/wi-denwi-exterior-16th-st-mal31566-17421_Wide-Hor.jpeg" alt="Westin Denver Downtown" class="w-full rounded-lg shadow-lg">

<div id="map" style="height:400px;width:100%;"></div>

Rooms are available from xx-xy. Prices are in USD.

<table class="table-auto">
    <thead>
        <tr>
            <th>Room Type</th>
            <th>Single/Double</th>
            <th>Triple/Quad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Foo</td>
            <td>$205</td>
            <td>$205</td>
        </tr>
    </tbody>
</table>

<h2>Travel</h2>



<script>
    const hotel = [39.749088,-104.99565]
    const map = L.map('map').setView(hotel, 13);
    const marker = L.marker(hotel).addTo(map);

    const tiles = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}{r}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
        subdomains: 'abcd',
        maxZoom: 20
    }).addTo(map);

</script>