---
title: News
layout: page.njk
image: "/static/giulia-may-8JFMYz-a8Xo-unsplash.webp"
draft: true
---

<section class="mx-auto flex w-full max-w-6xl flex-col items-center px-4 py-10">
    <h3 class="block text-center font-sans text-3xl font-semibold tracking-normal text-blue-gray-900 antialiased">
        Forum News
    </h3>
    <p class="mt-2 mb-8 block w-full text-center font-sans text-xl font-normal leading-relaxed text-inherit !text-gray-600 antialiased lg:w-9/12">
        All the latest updates for Forum are posted here.
    </p>

    {% include "posts.njk" %}
</section>