---
title: Prospectus
layout: page.njk
image: "/static/CLIRT-11.webp"
draft: false
preload: 
    - /static/CLIRT-11.webp
---
{# https://docs.google.com/document/d/1Yk9NdZhszZzL29lWKkUhX8L3lJNnQT8bAx45kZCR7kU/edit?tab=t.0#heading=h.eam88fea3xej #}

<!-- Conference Pitch Section -->
<section class="py-16 bg-white">
  <div class="max-w-5xl mx-auto ">
    <h2 class="text-3xl font-bold text-blue-gray-900 text-center">About the Conference</h2>
    <p class="my-4 text-lg text-gray-600">
          Since 1999, DLF Forum has become a cornerstone for advancing the work of digital libraries and open access publishing. Over the years, it has grown in to a vital event for practioners, researchers, and publishers, fostering collaboration and innovation. From DLF's inception as a response to the challenges of preserving and accessing knowledge, DLF, and its annual Forum, have evolved into an essential hub for driving research and promoting accessible information. Forum's legacy continues to shape the future of digital libraries, ensuring that it remains at the forefront of sharing and open access initiatives today. 
        </p>
    <p class="mt-20 text-center">
      <a href="mailto:forum@diglib.org?subject=Sponsorship%20Inquiry" class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-sm py-3.5 px-7 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none bg-gray-900" type="button" data-ripple-light="true">
            Sponsor DLF Forum
        </a>
    </p>
  </div>
</section>

<!-- Conference Pitch Section -->
<section class="py-16 bg-white">
  <div class="max-w-5xl mx-auto text-gray-700">
    <h2 class="text-3xl font-bold text-blue-gray-900 text-center">Invitation</h2>

    <p class="mt-4 text-lg">
      We are excited to extend an invitation for you to collaborate with CLIR/DLF as a sponsor for the 2025 DLF Forum and Learn@DLF, happening in downtown <strong>Denver, Colorado, November 16-19, 2025</strong>.
    </p>

    <p class="mt-4">
      Together, these events are immersive, multi-day experiences designed for learning, networking, and honing skills. They serve as platforms to inspire, forge connections, and foster the exchange of successes and setbacks within a vibrant community of digital library practitioners, many of whom are key influencers at their organizations. 
    </p>

    <p class="mt-4">
      By sponsoring the 2025 DLF Forum, your brand will be intricately linked with a vast, multi-disciplinary network of professionals spanning the digital library, museum, archives, and cultural heritage sectors. Attendees range from project managers, technologists, and developers to administrators, archivists, and service providers. These events attract participants from a spectrum of institutions including art and cultural heritage establishments, non-profit organizations, government agencies, colleges and universities, and more.
    </p>

    <p class="mt-4">
      This sponsorship opportunity offers exceptional value, granting exposure at both events for the price of one. 
    </p>

    {# <p class="mt-4 text-lg text-gray-600">
            Supporting the DLF Forum offers significant opportunities for sponsors to enhance their impact through research advancement, networking, and collaboration. Here's why this support could be strategically advantageous:
        </p>

        <ul class="list-disc list-inside mt-1 text-lg text-left">
            <li>
                <strong>Research Advancement:</strong> The event serves as a platform for fostering cutting-edge research in digital libraries and open access publishing. Sponsors can play a pivotal role in driving innovation by supporting collaborative projects that address key challenges in these fields.
            </li>
            <li>
                <strong>Networking Opportunities:</strong> DLF Forum provides an ideal setting for networking with leading experts, researchers, and industry professionals. This connection can open doors to partnerships and collaborations that amplify the sponsors' influence.
            </li>
        </ul>

        <p>
            Sponsoring DLF Forum is a smart strategic move that aligns with goals focused on impactful research, collaboration, and innovation&mdash;ultimately positioning sponsors for long-term success and lasting positive outcomes.
        </p> #}
  </div>
</section>

{# <section id="stats" class="px-8 py-10 lg:py-28">
  <div class="container mx-auto">
    <div class="mb-20 grid place-items-center text-center">
      <p class="block antialiased font-sans text-base leading-relaxed text-blue-gray-900 mb-4 font-bold">
                    By the Numbers
                </p>
      <h1 class="block antialiased tracking-normal font-sans font-semibold leading-tight text-blue-gray-900 mb-4 text-3xl lg:text-5xl">
                    Forum 2024 Events
                </h1>
      <p class="block antialiased font-sans text-xl font-normal leading-relaxed text-inherit !text-gray-600">
                    Learn more about our impact.
                </p>
    </div>
    <div class="grid gap-x-8 gap-y-6 md:grid-cols-2 lg:grid-cols-4">
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-transparent text-gray-700 shadow-none">
        <div class="p-6">
          <h1 class="block antialiased tracking-normal font-sans font-semibold leading-tight text-blue-gray-900 mb-4 text-6xl">
                            800+
                        </h1>
          <h2 class="block antialiased tracking-normal font-sans text-xl leading-snug text-blue-gray-900 mb-2 !font-semibold">
                            Attendees
                        </h2>
          <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-normal !text-gray-600">
                            Across our in-person and virtual events in 2024
                    </p>
        </div>
      </div>
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-transparent text-gray-700 shadow-none">
        <div class="p-6">
          <h1 class="block antialiased tracking-normal font-sans font-semibold leading-tight text-blue-gray-900 mb-4 text-6xl">
                        1,000+
                    </h1>
          <h5 class="block antialiased tracking-normal font-sans text-xl leading-snug text-blue-gray-900 mb-2 !font-semibold">
                        Impressive Stat
                    </h5>
          <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-normal !text-gray-600">
                        is this useful?
                    </p>
        </div>
      </div>
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-transparent text-gray-700 shadow-none">
        <div class="p-6">
          <h1 class="block antialiased tracking-normal font-sans font-semibold leading-tight text-blue-gray-900 mb-4 text-6xl">
                            500+
                        </h1>
          <h5 class="block antialiased tracking-normal font-sans text-xl leading-snug text-blue-gray-900 mb-2 !font-semibold">
                            Another impressive stat
                        </h5>
          <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-normal !text-gray-600">
                            that make people want to support
                        </p>
        </div>
      </div>
      <div class="relative flex flex-col bg-clip-border rounded-xl bg-transparent text-gray-700 shadow-none">
        <div class="p-6">
          <h1 class="block antialiased tracking-normal font-sans font-semibold leading-tight text-blue-gray-900 mb-4 text-6xl">
                        24/7
                    </h1>
          <h5 class="block antialiased tracking-normal font-sans text-xl leading-snug text-blue-gray-900 mb-2 !font-semibold">
                        Support
                    </h5>
          <p class="block antialiased font-sans text-base leading-relaxed text-inherit font-normal !text-gray-600">
                        We'll answer you at 3 in the morning
                    </p>
        </div>
      </div>
    </div>
  </div>
</div> #}

<!-- Sponsorship Levels Table -->
<section id="at-a-glance" class="p-8">
  <div class="container mx-auto">
    <div class="text-center">
      <h2 class="block font-sans text-4xl font-semibold leading-[1.3] tracking-normal text-blue-gray-900 antialiased">
        Sponsorship Levels
      </h2>
      <p class="mt-2 block font-sans text-xl font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
        Sponsorship Packages at a Glance
      </p>
    </div>
    <div class="relative mt-16 flex w-full flex-col overflow-scroll rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
      <div class="p-6">
        <table class="w-full min-w-[768px] table-auto">
          <thead>
            <tr class="border-b border-blue-gray-50">
              <th class="px-6 py-3 text-left">
                <span class="mb-2 block font-sans text-base font-semibold leading-relaxed tracking-normal text-inherit antialiased">&nbsp;</span>
                <span class="block font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased">
                  Standard Benefit
                </span>
              </th>
              <th class="px-6 py-3 text-center">
                <span class="mb-2 block font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased">
                  Platinum
                </span>
                <h3 class="block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                  $6,500
                </h3>
              </th>
              <th class="px-6 py-3 text-center">
                <span class="mb-2 block font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased">Gold</span>
                <h3 class="block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                  $5,000
                </h3>
              </th>
              <th class="px-6 py-3 text-center">
                <span class="mb-2 block font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased">
                  Silver
                </span>
                <h3 class="block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                  $2,500
                </h3>
              </th>
              <th class="px-6 py-3 text-center">
                <span class="mb-2 block font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased">Bronze</span>
                <h3 class="block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased">
                    $1,000
                </h3>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased">
                    Logo on conference website
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="mx-auto h-5 w-5 text-green-500">
                  <path stroke-linecap="round"  stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="mx-auto h-5 w-5 text-green-500"
                    >
                  <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                    ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="mx-auto h-5 w-5 text-green-500"
                    >
                  <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                    ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="mx-auto h-5 w-5 text-green-500">
                  <path stroke-linecap="round"  stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
                </svg>
              </td>
            </tr>
            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p
                    class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased"
                    >
                    Acknowledgement from the podium during plenary session(s) and logo on slides
                    </p>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="mx-auto h-5 w-5 text-green-500"
                    >
                  <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                    ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="mx-auto h-5 w-5 text-green-500"
                    >
                  <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                    ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="mx-auto h-5 w-5 text-green-500"
                    >
                  <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                    ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="mx-auto h-5 w-5 text-green-500">
                  <path stroke-linecap="round"  stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
                </svg>
              </td>
            </tr>
            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased">
                  Logo on emails to up to 500 registered attendees
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="mx-auto h-5 w-5 text-green-500"
                    >
                  <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                    ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="mx-auto h-5 w-5 text-green-500"
                    >
                  <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                    ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="mx-auto h-5 w-5 text-green-500"
                    >
                  <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                    ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="mx-auto h-5 w-5 text-green-500">
                  <path stroke-linecap="round"  stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
                </svg>
              </td>
            </tr>
            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased">
                    One public mention / thank-you on CLIR and DLF LinkedIn pages (4,000 followers)
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="mx-auto h-5 w-5 text-green-500"
                    >
                  <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                    ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="mx-auto h-5 w-5 text-green-500"
                    >
                  <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                    ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    aria-hidden="true"
                    class="mx-auto h-5 w-5 text-green-500"
                    >
                  <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4.5 12.75l6 6 9-13.5"
                    ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="mx-auto h-5 w-5 text-green-500">
                  <path stroke-linecap="round"  stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
                </svg>
              </td>
            </tr>
            <!-- Additional Benefits -->
            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased"
                    >
                  <span
                        class="block font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased"
                        >Additional Benefits</span
                    >
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                    &nbsp;
                    </td>
              <td class="px-6 py-5 text-center">
                        &nbsp;
                    </td>
              <td class="px-6 py-5 text-center">
                    &nbsp;
                </td>
            </tr>

            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased">
                            Link and organization description (along with logo) on conference website
                        </p>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-green-500"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M4.5 12.75l6 6 9-13.5"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-green-500"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M4.5 12.75l6 6 9-13.5"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-green-500"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M4.5 12.75l6 6 9-13.5"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            aria-hidden="true"
                            class="mx-auto h-5 w-5 text-blue-gray-700"
                            >
                  <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M19.5 12h-15"
                            ></path>
                </svg>
              </td>
            </tr>

            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased">
                    Opted-in attendee email addresses (typically up to 250 people)
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-green-500"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M4.5 12.75l6 6 9-13.5"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-green-500"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M4.5 12.75l6 6 9-13.5"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-green-500"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M4.5 12.75l6 6 9-13.5"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            aria-hidden="true"
                            class="mx-auto h-5 w-5 text-blue-gray-700"
                            >
                  <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M19.5 12h-15"
                            ></path>
                </svg>
              </td>
            </tr>

            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased">
                  Exhibit table at conference reception and in exhibit hall
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="mx-auto h-5 w-5 text-green-500">
                  <path stroke-linecap="round"  stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-green-500"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M4.5 12.75l6 6 9-13.5"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-green-500"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M4.5 12.75l6 6 9-13.5"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="mx-auto h-5 w-5 text-blue-gray-700">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"></path>
                </svg>
              </td>
            </tr>

            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased">
                  Number of complimentary tickets to the DLF Forum for your team ($800 value each)
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                2
              </td>
              <td class="px-6 py-5 text-center">
                1
              </td>
              <td class="px-6 py-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="mx-auto h-5 w-5 text-blue-gray-700">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="mx-auto h-5 w-5 text-blue-gray-700">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"></path>
                </svg>
              </td>
            </tr>

            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased">
                  One “From Our Partner” email sent to attendees (up to 500 people)
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                1
              </td>
              <td class="px-6 py-5 text-center">
                1
              </td>
              <td class="px-6 py-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="mx-auto h-5 w-5 text-blue-gray-700">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="mx-auto h-5 w-5 text-blue-gray-700">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"></path>
                </svg>
              </td>
            </tr>

            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased">
                  One "From Our Partner" email sent to Forum newsletter list (up to 2,900 people)
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                1
              </td>
              <td class="px-6 py-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="mx-auto h-5 w-5 text-blue-gray-700">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="mx-auto h-5 w-5 text-blue-gray-700">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="mx-auto h-5 w-5 text-blue-gray-700">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15"></path>
                </svg>
              </td>
            </tr>

            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased">
                    Named sponsor of one conference breakfast or lunch 
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-blue-gray-700"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19.5 12h-15"
                        ></path>
                </svg>

              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-green-500"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M4.5 12.75l6 6 9-13.5"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-blue-gray-700"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19.5 12h-15"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            aria-hidden="true"
                            class="mx-auto h-5 w-5 text-blue-gray-700"
                            >
                  <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M19.5 12h-15"
                            ></path>
                </svg>
              </td>
            </tr>
            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased">
                            Named sponsor of the conference reception
                        </p>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-green-500"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M4.5 12.75l6 6 9-13.5"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-blue-gray-700"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19.5 12h-15"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-blue-gray-700"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19.5 12h-15"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            aria-hidden="true"
                            class="mx-auto h-5 w-5 text-blue-gray-700"
                            >
                  <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M19.5 12h-15"
                            ></path>
                </svg>
              </td>
            </tr>
            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased">
                    One additional public mention / thank-you on CLIR and DLF LinkedIn pages (<strong class="font-bold">4,000 followers</strong>)
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-green-500"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M4.5 12.75l6 6 9-13.5"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-blue-gray-700"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19.5 12h-15"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-blue-gray-700"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19.5 12h-15"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            aria-hidden="true"
                            class="mx-auto h-5 w-5 text-blue-gray-700"
                            >
                  <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M19.5 12h-15"
                            ></path>
                </svg>
              </td>
            </tr>
            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased">
                    Featured sponsor blog post on the DLF website and promoted on CLIR and DLF LinkedIn pages (4,000 followers)
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-green-500"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M4.5 12.75l6 6 9-13.5"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-blue-gray-700"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19.5 12h-15"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        aria-hidden="true"
                        class="mx-auto h-5 w-5 text-blue-gray-700"
                        >
                  <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M19.5 12h-15"
                        ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            aria-hidden="true"
                            class="mx-auto h-5 w-5 text-blue-gray-700"
                            >
                  <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M19.5 12h-15"
                            ></path>
                </svg>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>

<!-- Sponsorship Cards Section -->
{# <section class="p-8 bg-gray-100">
  <div class="max-w-6xl mx-auto text-center">
    <h3 class="text-2xl font-semibold text-blue-gray-900 mb-6">Choose Your Sponsorship Level</h3>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      {% for sponsorship in sponsorship_levels | reverse %}
        <div class="bg-white p-6 rounded-lg shadow-lg border-t-4 border-{{ sponsorship.color }}">
          <h4 class="text-xl font-semibold text-gray-800">{{ sponsorship.level }}</h4>
          <p class="text-2xl font-bold text-gray-900">{{ sponsorship.cost | usd }}</p>
          <p class="text-gray-900 py-2">{{ sponsorship.description }}</p>

          <hr class="h-[1px] w-full bg-gray-100"/>

          <ul class="text-gray-600 text-sm mt-4 space-y-2 mb-20">
            {% for benefit in sponsorship.benefits %}
              <li class="flex items-center gap-2 text-gray-700">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" class="h-5 w-5 text-inherit">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"></path>
                </svg>
                <p class="block font-sans text-base font-normal leading-relaxed text-inherit antialiased">
                  {{ benefit }}
                </p>
              </li>
            {% endfor %}
          </ul>
          <p class="mt-15">
            <a href="mailto:forum@diglib.org?subject=Sponsorship%20Inquiry%20-%20{{sponsorship.level}}" class="align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-sm py-3.5 px-7 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none bg-gray-900" type="button">Become a Sponsor</a>
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</section> #}

<section class="py-16 bg-white">
  <div class="max-w-6xl mx-auto ">
    <h2 class="text-3xl font-bold text-blue-gray-900 text-center mb-10">Sponsorship Options</h2>

    <p class="text-leftmt-2 block font-sans text-xl font-normal leading-relaxed text-inherit text-bold !text-gray-700 antialiased">
      Standard Benefits
    </p>

    <ul class="my-6 flex flex-col gap-3 pt-6">
      <li class="flex items-center gap-2 text-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-5 w-5 text-inherit">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
        </svg>
        <p class="block antialiased font-sans text-base leading-relaxed font-normal text-inherit">Logo on conference website</p>
      </li>
      <li class="flex items-center gap-2 text-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-5 w-5 text-inherit">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
        </svg>
        <p class="block antialiased font-sans text-base leading-relaxed font-normal text-inherit">Acknowledgement from the podium during plenary session(s) and logo on slides</p>
      </li>
      <li class="flex items-center gap-2 text-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-5 w-5 text-inherit">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
        </svg>
        <p class="block antialiased font-sans text-base leading-relaxed font-normal text-inherit">One public mention / thank-you on CLIR and DLF LinkedIn pages (4,000 followers)</p>
      </li>
      <li class="flex items-center gap-2 text-gray-700">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-5 w-5 text-inherit">
          <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path>
        </svg>
        <p class="block antialiased font-sans text-base leading-relaxed font-normal text-inherit">Logo on emails to up to 500 registered attendees</p>
      </li>
    </ul>

    <div class="max-w-6xl grid grid-cols-1 lg:grid-cols-2 gap-8 p-8">
      {% for sponsorship in sponsorship_levels | reverse %}
        <div class="rounded-lg shadow-lg bg-white p-8 border border-gray-200">
          <h3 class="text-2xl font-semibold text-gray-900" id="{{ sponsorship.level | lower}}">{{ sponsorship.level }}</h3>
          <p class="text-3xl font-bold text-blue-700 mt-2">{{ sponsorship.cost | usd }}</p>
          <p class="text-lg text-gray-700 mt-4">Standard benefits, plus:</p>

          <ul class="my-6 flex flex-col gap-3 pt-6">
            {% for benefit in sponsorship.benefits %}
            <li class="flex items-center gap-2 text-gray-700">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true" data-slot="icon" class="h-5 w-5 text-inherit"><path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"></path></svg><p class="block antialiased font-sans text-base leading-relaxed font-normal text-inherit">{{ benefit }}</p>
            </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
  
    </div>


    <p class="mt-4 text-lg text-gray-700">
      High-level sponsors have the opportunity to share a message about their products and services through our <strong>“From Our Partner”</strong> email program. As a valued sponsor, you'll gain exclusive access to our attendee base through direct email sent by DLF. We understand the importance of reaching your target audience effectively, and our email marketing benefit is designed to maximize your visibility and engagement. 
    </p>

    <p class="mt-4 text-lg text-gray-700">
      <strong>Key Highlights:</strong>
    </p>
    <ul class="my-6 ml-6  flex flex-col gap-3 pt-6 list-disc list-inside mt-1 text-lg text-left">
      <li class="gap-2">
        <strong>Dedicated email:</strong> Stand out in the inbox with a dedicated email sent to our Forum newsletter list (up to <strong>2,900</strong> subscribers, <strong>Platinum only</strong>) or our full attendee list (up to 500 attendees, <strong>Platinum</strong> and <strong>Gold sponsors</strong>). Craft a personalized message tailored to your goals, whether it’s promoting your latest products, announcing special offers, or inviting attendees to visit your table during the event.
      </li>
      <li class=" items-center gap-2">
        <strong>Customized content:</strong> Our team will work closely with you to ensure that the content of the email aligns with your messaging objectives. From compelling subject lines to persuasive calls-to-action, we’ll help you craft a message that resonates with our diverse audience. 
      </li>
      <li class=" items-center">
        <strong>Post-event follow-up:</strong> Platinum and Gold sponsors will receive email addresses from attendees who have opted in to share them, typically up to 250 people, as part of your benefits package. Extend the lifespace of your sponsorship beyond the event dates by sending a follow-up email to attendees who visited your exhibit table or those who expressed interest in your offerings. 
      </li>
    </ul>

  <p class="mt-4 text-lg text-gray-700">
      <strong>Email Guidelines:</strong>
    </p>
  <ul class="my-6 ml-6  flex flex-col gap-3 pt-6 list-disc list-inside mt-1 text-lg text-leftmy-6 flex flex-col pt-6">
      <li class="gap-2">
        Copy should be no more than 300 words. 
      </li>
      <li class="gap-2">
        All emails will utilize a template that will feature your company logo
      </li>
      <li class="gap-2">
        <a target="_blank" class="underline" href="https://app.hubspot.com/email/20251227/edit/158045492897/content">View our Template</a>
      </li>
  </div>
</section>
<!-- 
<section id="add-ons">
    <h2>Streaming Video Sponsor</h2>
    <h2>Captioning Sponsor</h2>
    <h2>Post-Conference Video Production Sponsor</h2>
    <h2>Food &amp; Beverage Sponsors</h2>
</section> -->

<!-- see https://www.material-tailwind.com/blocks/pricing-sections -->
<!--
<section id="levels" class="py-24 px-8">
  <div class="container mx-auto text-center">
    <h2 class="mb-4 block font-sans text-4xl font-semibold leading-[1.3] tracking-normal text-blue-gray-900 antialiased">
      Benefit Levels
    </h2>
    <p class="mb-8 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
      Sponsoring CLIR events connects your brand to a multi-disciplinary cross-sector audience of professionals in the digital library, museum, archives, and cultural heritage fields, from project managers, technologists, and developers to administrators, archivists, and service providers. These events have welcomed professionals from art and cultural heritage institutions, non-profit organizations, government agencies, and more. 
    </p>
  </div>
  <div class="mt-24">
    <div
      class="container mx-auto grid gap-10 md:grid-cols-2 lg:grid-cols-4"
    >
      <div
        class="relative flex flex-col rounded-xl border border-blue-gray-100 bg-transparent bg-clip-border text-gray-700 shadow-md"
      >
        <div
          class="relative !m-0 mx-4 !mt-4 overflow-hidden rounded-xl bg-transparent bg-clip-border p-6 text-gray-700 shadow-none"
        >
          <h5
            class="block font-sans text-xl font-semibold capitalize leading-snug tracking-normal text-blue-gray-900 antialiased"
          >
            Bronze
          </h5>
          
          <h3
            class="!mt-4 mb-8 flex gap-1 font-sans text-3xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased"
          >
            <span
              class="block -translate-y-0.5 self-end font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased opacity-70"
              >text-gray-600</span
            >
          </h3>
          <button
            class="block w-full select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
            data-ripple-light="true"
          >
            Become a Bronze Sponsor
          </button>
        </div>
        <div class="border-t border-blue-gray-50 p-6">
          <ul class="flex flex-col gap-3">
            <li class="flex items-center gap-3 text-gray-700">
              <i class="fa-solid fa-check h-4 w-4 text-blue-gray-900"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                2 social media mentions
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="relative flex flex-col rounded-xl border border-blue-gray-100 bg-transparent bg-clip-border text-gray-700 shadow-md"
      >
        <div
          class="relative !m-0 mx-4 !mt-4 overflow-hidden rounded-xl bg-transparent bg-clip-border p-6 text-gray-700 shadow-none"
        >
          <h5
            class="block font-sans text-xl font-semibold capitalize leading-snug tracking-normal text-blue-gray-900 antialiased"
          >
            Silver
          </h5>
          
          <h3
            class="!mt-4 mb-8 flex gap-1 font-sans text-3xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased"
          >
            <span
              class="block -translate-y-0.5 self-end font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased opacity-70"
              >text-gray-600</span
            >
          </h3>
          <button
            class="block w-full select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
            data-ripple-light="true"
          >
            Become a Silver Sponsor
          </button>
        </div>
        <div class="border-t border-blue-gray-50 p-6">
          <ul class="flex flex-col gap-3">
            <li class="flex items-center gap-3 text-gray-700">
              <i class="fa-solid fa-check h-4 w-4 text-blue-gray-900"></i>

              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                Exhibitor table
              </p>
            </li>
            <li class="flex items-center gap-3 text-gray-700">
              <i class="fa-solid fa-check h-4 w-4 text-blue-gray-900"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                Company logo and about text on event website
              </p>
            </li>
            <li class="flex items-center gap-3 text-gray-700">
              <i class="fa-solid fa-check h-4 w-4 text-blue-gray-900"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                Opted-in attendee email addresses
              </p>
            </li>
            <li class="flex items-center gap-3 text-gray-700">
              <i class="fa-solid fa-check h-4 w-4 text-blue-gray-900"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                1 ticket to the CLIR events for your team
              </p>
            </li>
            <li class="flex items-center gap-3 text-gray-700">
              <i class="fa-solid fa-check h-4 w-4 text-blue-gray-900"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                Company name on pocket schedule
              </p>
            </li>
            <li class="flex items-center gap-3 text-gray-700">
              <i class="fa-solid fa-check h-4 w-4 text-blue-gray-900"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                3 social media mentions
              </p>
            </li>
             <li class="flex items-center gap-3 text-gray-700">
              <i class="fa-solid fa-check h-4 w-4 text-blue-gray-900"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                  1 custom banner in event emails

              </p>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="relative flex flex-col rounded-xl bg-gradient-to-tr from-gray-900 to-gray-800 bg-clip-border text-white shadow-md shadow-gray-900/20"
      >
        <div
          class="relative !m-0 mx-4 !mt-4 overflow-hidden rounded-xl bg-transparent bg-clip-border p-6 text-gray-700 shadow-none"
        >
          <h5
            class="block font-sans text-xl font-semibold capitalize leading-snug tracking-normal text-white antialiased"
          >
            Gold
          </h5>
          
          <h3
            class="!mt-4 mb-8 flex gap-1 font-sans text-3xl font-semibold leading-snug tracking-normal text-white antialiased"
          >
            <span
              class="block -translate-y-0.5 self-end font-sans text-base font-semibold leading-relaxed tracking-normal text-white antialiased opacity-70"
              >text-gray-600</span
            >
          </h3>
          <button
            class="block w-full select-none rounded-lg bg-white py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-blue-gray-900 shadow-md shadow-blue-gray-500/10 transition-all hover:shadow-lg hover:shadow-blue-gray-500/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
            data-ripple-dark="true"
          >
            Become a Gold Sponsor
          </button>
        </div>
        <div class="border-t border-blue-gray-50/25 p-6">
          <ul class="flex flex-col gap-3">
            <li class="flex items-center gap-3 text-white">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>
              
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                Named sponsor for one breakfast or lunch during the 2023 CLIR events (DLF Forum or Learn@DLF)
              </p>
            </li>
            <li class="flex items-center gap-3 text-white">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                Exhibitor table
              </p>
            </li>
            <li class="flex items-center gap-3 text-white">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                Company logo and about text on event website
              </p>
            </li>
            <li class="flex items-center gap-3 text-white">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                Opted-in attendee email addresses
              </p>
            </li>
            <li class="flex items-center gap-3 text-white">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                Company logo and about text on event website
              </p>
            </li>
            <li class="flex items-center gap-3 text-white">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                2 tickets to the CLIR events for your team
              </p>
            </li>
            <li class="flex items-center gap-3 text-white">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                Company logo on pocket schedule
              </p>
            </li>
            <li class="flex items-center gap-3 text-white">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                Company name on pocket schedule
              </p>
            </li>
            <li class="flex items-center gap-3 text-white">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                4 social media mentions
              </p>
            </li>
            <li class="flex items-center gap-3 text-white">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                2 custom banners in event emails
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div
        class="relative flex flex-col rounded-xl border border-blue-gray-100 bg-transparent bg-clip-border text-gray-700 shadow-md"
      >
        <div
          class="relative !m-0 mx-4 !mt-4 overflow-hidden rounded-xl bg-transparent bg-clip-border p-6 text-gray-700 shadow-none"
        >
          <h5
            class="block font-sans text-xl font-semibold capitalize leading-snug tracking-normal text-blue-gray-900 antialiased"
          >
            Platinum
          </h5>
         
          <h3
            class="!mt-4 mb-8 flex gap-1 font-sans text-3xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased"
          >
            <span
              class="block -translate-y-0.5 self-end font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased opacity-70"
              >text-gray-600</span
            >
          </h3>
          <button
            class="block w-full select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-2 px-4 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
            data-ripple-light="true"
          >
            Become a Platinum Sponsor
          </button>
        </div>
        <div class="border-t border-blue-gray-50 p-6">
          <ul class="flex flex-col gap-3">
            <li class="flex items-center gap-3 text-gray-700">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                Named signature event sponsor for the DLF Forum reception or plenaries
              </p>
            </li>
            <li class="flex items-center gap-3 text-gray-700">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                Exhibitor table
              </p>
            </li>
            <li class="flex items-center gap-3 text-gray-700">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>

              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                Featured sponsor blog post on event website
              </p>
            </li>
            <li class="flex items-center gap-3 text-gray-700">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>

              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                Company logo and about text on event website
              </p>
            </li>
            <li class="flex items-center gap-3 text-gray-700">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                Opted-in attendee email addresses
              </p>
            </li>
            <li class="flex items-center gap-3 text-gray-700">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                2 tickets to the CLIR events for your team
              </p>
            </li>
            <li class="flex items-center gap-3 text-gray-700">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                Company logo on pocket schedule
              </p>
            </li>
            <li class="flex items-center gap-3 text-gray-700">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                5 social media mentions
              </p>
            </li>
            <li class="flex items-center gap-3 text-gray-700">
              <i class="fa-solid fa-check h-4 w-4 text-white"></i>
              <p
                class="block font-sans text-sm font-normal leading-normal text-inherit antialiased"
              >
                3 custom banners in event emails
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
-->
<section id="add-ons" class="py-24 px-8">
  <div class="container mx-auto text-center">
    <h2 class="mb-4 block font-sans text-4xl font-semibold leading-[1.3] tracking-normal text-blue-gray-900 antialiased">
      Add-Ons and Unique Opportunities
    </h2>
    {# <p class="mb-8 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">
            We have additional sponsorship opportunities. 
        </p> #}
  </div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 p-8">
    <div class="rounded-lg shadow-lg bg-white p-8 border border-gray-200">
      <h3 class="text-2xl font-semibold text-gray-900">Coffee Break</h3>
      <p class="mt-2 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">4 Available</p>
      <p class="text-3xl font-bold text-blue-700 mt-2">$1,000</p>
      <p class="text-lg text-gray-700 mt-4">
        Help us keep Forum attendees caffeinated by adding on a coffee break to any sponsorship level or opportunity listed. A 24” x 36” sign with your company logo, name, and QR code will be placed at the coffee station. Coffee break opportunities are available on a first-come, first-served basis, so commit to sponsoring soon to get your preferred break. <strong>Not available as a standalone opportunity</strong>.
      </p>
    </div>

    <div class="rounded-lg shadow-lg bg-white p-8 border border-gray-200">
      <h3 class="text-2xl font-semibold text-gray-900">Swag Sponsor</h3>
      <p class="mt-2 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">1 Available</p>
      <p class="text-3xl font-bold text-blue-700 mt-2">$6,500</p>
      <p class="text-lg text-gray-700 mt-4">
        Your logo will appear alongside DLF's on the official conference swag that attendees can opt-in to receive. The type of swag will be determined with Forum staff who welcome your ideas on fun items we could offer to attendees. Past swag has included a first aid kit, transparent catch-all travel bag, and device camera covers. <strong>Includes all benefits of a Bronze level sponsorship</strong>.
      </p>
    </div>

    <div class="rounded-lg shadow-lg bg-white p-8 border border-gray-200">
      <h3 class="text-2xl font-semibold text-gray-900">Badge Lanyards</h3>
      <p class="mt-2 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">1 Available</p>
      <p class="text-3xl font-bold text-blue-700 mt-2">$4,000</p>
      <p class="text-lg text-gray-700 mt-4">
        In-person event attendees will be wearing your logo, which will also appear in photos from the conference. <strong>Includes all benefits of a Bronze level sponsorship</strong>.
      </p>
    </div>

    <div class="rounded-lg shadow-lg bg-white p-8 border border-gray-200">
      <h3 class="text-2xl font-semibold text-gray-900">Forum Fellowships</h3>
      <p class="mt-2 block font-sans text-base font-normal leading-relaxed text-inherit !text-gray-600 antialiased">2 Available</p>
      <p class="text-3xl font-bold text-blue-700 mt-2">$2,500</p>
      <p class="text-lg text-gray-700 mt-4">
        Help create a welcoming environment by supporting professionals from various backgrounds! Support the DLF Forum by helping us bring new and engaged professionals to the three-day event. Your company name will be thanked in the Fellowship section of our website and at the end of every fellows' blog post for the DLF website. <strong>Includes all benefits of a Bronze level sponsorship</strong>.
      </p>
    </div>
  </div>
</section>
<!--
<section id="benefits" class="p-8">
  <div class="container mx-auto">
    <div class="text-center">
      <h2
        class="block font-sans text-4xl font-semibold leading-[1.3] tracking-normal text-blue-gray-900 antialiased"
      >
        Sponsorship Benefits by Level
      </h2>
      <p
        class="mt-2 block font-sans text-xl font-normal leading-relaxed text-inherit !text-gray-600 antialiased"
      >
        You have Free Unlimited Updates and Premium Support on each package.
      </p>
    </div>
    <div
      class="relative mt-16 flex w-full flex-col overflow-scroll rounded-xl bg-white bg-clip-border text-gray-700 shadow-md"
    >
      <div class="p-6">
        <table class="w-full min-w-[768px] table-auto">
          <thead>
            <tr class="border-b border-blue-gray-50">
              <th class="px-6 py-3 text-left">
                <span
                  class="mb-2 block font-sans text-base font-semibold leading-relaxed tracking-normal text-inherit antialiased"
                  >&nbsp;</span
                ><span
                  class="block font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased"
                  >Space Individual</span
                >
              </th>
              <th class="px-6 py-3 text-center">
                <span
                  class="mb-2 block font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased"
                  >Team</span
                >
                <h5
                  class="block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased"
                >
                  $39
                </h5>
              </th>
              <th class="px-6 py-3 text-center">
                <span
                  class="mb-2 block font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased"
                  >Growth</span
                >
                <h5
                  class="block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased"
                >
                  $79
                </h5>
              </th>
              <th class="px-6 py-3 text-center">
                <span
                  class="mb-2 block font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased"
                  >Enterprise</span
                >
                <h5
                  class="block font-sans text-xl font-semibold leading-snug tracking-normal text-blue-gray-900 antialiased"
                >
                  $99
                </h5>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p
                  class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased"
                >
                  Community Support
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="mx-auto h-5 w-5 text-green-500"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"
                  ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="mx-auto h-5 w-5 text-green-500"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"
                  ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="mx-auto h-5 w-5 text-green-500"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"
                  ></path>
                </svg>
              </td>
            </tr>
            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p
                  class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased"
                >
                  100+ Example Pages
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="mx-auto h-5 w-5 text-green-500"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"
                  ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="mx-auto h-5 w-5 text-green-500"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"
                  ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="mx-auto h-5 w-5 text-green-500"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"
                  ></path>
                </svg>
              </td>
            </tr>
            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p
                  class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased"
                >
                  50+ Section Examples
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="mx-auto h-5 w-5 text-green-500"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"
                  ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="mx-auto h-5 w-5 text-green-500"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"
                  ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="mx-auto h-5 w-5 text-green-500"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"
                  ></path>
                </svg>
              </td>
            </tr>
            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p
                  class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased"
                >
                  Multiple use
                </p>
              </td>
              <td class="px-6 py-5 text-center"></td>
              <td class="px-6 py-5 text-center">
                <p
                  class="block font-sans text-sm font-normal leading-normal text-inherit !text-gray-600 antialiased"
                >
                  upon request
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                <p
                  class="block font-sans text-sm font-normal leading-normal text-inherit !text-gray-600 antialiased"
                >
                  upon request
                </p>
              </td>
            </tr>
            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p
                  class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased"
                >
                  <span
                    class="block font-sans text-base font-semibold leading-relaxed tracking-normal text-blue-gray-900 antialiased"
                    >Developer Tools</span
                  >
                </p>
              </td>
              <td class="px-6 py-5 text-center"></td>
              <td class="px-6 py-5 text-center"></td>
              <td class="px-6 py-5 text-center"></td>
            </tr>
            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p
                  class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased"
                >
                  Custom messages
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="mx-auto h-5 w-5 text-blue-gray-700"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 12h-15"
                  ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="mx-auto h-5 w-5 text-green-500"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"
                  ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="mx-auto h-5 w-5 text-green-500"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"
                  ></path>
                </svg>
              </td>
            </tr>
            <tr class="border-b border-blue-gray-50">
              <td class="px-6 py-5 text-left">
                <p
                  class="block font-sans text-sm font-medium leading-normal text-inherit !text-gray-600 antialiased"
                >
                  Multiple requests
                </p>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="mx-auto h-5 w-5 text-blue-gray-700"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 12h-15"
                  ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="mx-auto h-5 w-5 text-blue-gray-700"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M19.5 12h-15"
                  ></path>
                </svg>
              </td>
              <td class="px-6 py-5 text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="2"
                  stroke="currentColor"
                  aria-hidden="true"
                  class="mx-auto h-5 w-5 text-green-500"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M4.5 12.75l6 6 9-13.5"
                  ></path>
                </svg>
              </td>
            </tr>
            <tr>
              <td class="px-6 py-5 text-left"></td>
              <td class="px-6 py-5 text-center">
                <button
                  class="select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  type="button"
                  data-ripple-light="true"
                >
                  Choose Plan
                </button>
              </td>
              <td class="px-6 py-5 text-center">
                <button
                  class="select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  type="button"
                  data-ripple-light="true"
                >
                  Choose Plan
                </button>
              </td>
              <td class="px-6 py-5 text-center">
                <button
                  class="select-none rounded-lg bg-gradient-to-tr from-gray-900 to-gray-800 py-3 px-6 text-center align-middle font-sans text-xs font-bold uppercase text-white shadow-md shadow-gray-900/10 transition-all hover:shadow-lg hover:shadow-gray-900/20 active:opacity-[0.85] disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                  type="button"
                  data-ripple-light="true"
                >
                  Choose Plan
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
-->